html{
    position: relative;
    height: 100%;
}
body {
    padding-top: 50px;
    height: 100%;
    min-height: 300px;
    min-width: 750px;
    background-color: white;
}
.header {
    position: absolute;
    top:0;
    width: 100%;
    min-width: 750px;
    height: 50px;
    background-color: whitesmoke;
    border-bottom: solid 2px;
    border-bottom-color: lightgrey;
}

.sections{
    position: relative;
    height: 100%;
    padding: 0;
}

.btn{
    cursor: pointer;
}
#err_table td{
    cursor: pointer;
}
#err_table td:hover{
    font-weight: bold;
}
.edge{
    cursor: pointer;
}
.edge:hover{
    font-weight: bold;
    stroke-width: 2;
}
.argContent .node{
    cursor: pointer;
}
.argContent .node:hover{
    font-weight: bold;
}
.functionNode{
    cursor: pointer;
}
.functionNode:hover{
    font-weight: bold;
    stroke-width: 2;
}
.functionNode polygon{
    fill: transparent;
}

.header h3 img{
height: 25px;
}
.header h3{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.header em{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}


#errorpath_section{
    position:relative;
    float: left;
    width: 25%;
    min-width: 70px;
    height: inherit;
    background-color: white;
    border: solid 4px;
    border-color: lightgrey;
    padding: 5px;
}

#errorpath_section header .input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

#middleLine{
    cursor: col-resize;
    position: absolute;
    top:0;
    right: -8px;
    height:inherit;
    width: 8px;
    z-index: 100;
    background-color: darkgrey;
}
#middleLine:hover{
    background-color: grey;
}
#externalFiles_section{
    float: right;
    width: 75%;
    height: inherit;
    background-color: white;
    padding: 5px;
    border: solid 4px;
    border-color: lightgrey;
}

.popover{
    min-width: 500px;
    max-height: 500px;
    white-space: pre-line;
    overflow: auto;
    background-color: #f5fff8;
    border: solid 2px;
    border-color: #00d415;
}
#externalFiles_section .popover{
    overflow: hidden;
}

#errorpath_section .fileContent {
    height: calc(100% - 110px);
    margin: 5px;
    overflow: auto;
}
#externalFiles_section .fileContent {
    height: calc(100% - 50px);
    margin: 5px;
    overflow: auto;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
td:first-child {
    background-color: #ccc;
}
#err_table td:first-child{
    border-radius: 6px;
}
#err_table td pre {
    padding: 0px;
    margin: 0px;
    border: none;
}
#err_table tr:nth-child(odd) td pre.prettyprint {
    background-color: #f3f3f3;
}
.sourceContent td pre {
    padding: 0px;
    margin: 0px;
    border: none;
}
.sourceContent tr:nth-child(odd) td pre.prettyprint {
    background-color: #f3f3f3;
}
.markedSourceLine{
    background-color: #df80ff;
}
.markedCFAEdge path{
    stroke: #df80ff;
}
.markedCFAEdge polygon{
    fill: #df80ff;
    stroke: #df80ff;
}
.markedCFAEdge text{
    fill: #df80ff;
}

.markedCFANode text{
    fill: #df80ff;
}
.markedCFANode ellipse{
    stroke: #df80ff;
}
.markedCFANode polygon{
    stroke: #df80ff;
}

.markedARGNode polygon{
    fill: #df80ff;
}
.markedTableElement{
    border: solid 2px;
    border-color: #00d415;
}
.markedValueElement pre{
    background-color: #83d480 !important;
}
.markedDescElement pre{
    background-color: #71afff !important;
}
.markedValueDescElement pre{
    background: linear-gradient(#83d480, #71afff) !important;
}
#searchOptions label{
    font-weight: normal;
}
#matches{
    display: none;
}
.markedValues{
    background-color: #83d480;
    border-radius: 25px;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 8px;
    max-width: 270px;
}
.markedDescriptions{
    background-color: #71afff;
    border-radius: 20px;
    padding: 2px;
    padding-left: 8px;
    margin-bottom: 2px;
    max-width: 270px;
}
.cfaContent{
    margin: 20px;
    margin-top: 45px;
    /* This is very important - otherwise right margin is not shown (and nodes cannot be centered) */
    display: inline-block;
}
.argContent{
    margin: 20px;
    margin-top: 45px;
    /* This is very important - otherwise right margin is not shown (and nodes cannot be centered) */
    display: inline-block;
}
.sourceContent{
    margin-top: 45px;
}
.edit-line{
    position: fixed;
    background-color: white;
    padding: 5px;
}
.edit-line div{
    display: inline-block;
}
.edit-line label{
    margin-right: 100px;
    display: inline-block;
}
.edit-line p{
    display: inline-block;
}
#cfa-scalingField{
    margin-left: 5px;
    width: 50px;
    display: inline-block;
}
#arg-scalingField{
    margin-left: 5px;
    width: 50px;
    display: inline-block;
}

div pre{
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.help_button{
    padding: 0px;
    border: 0px;
    margin:0px;
    display: inline-block;
    float: right;
}
#externalFiles_section .help_button{
    margin-left: 10px;
    float: left;
}