# /
*.pyc
*~
__pycache__
a.out

# /
/bin
/build.properties
/output
/ConfigurationChecks.html
/cpachecker.jar
/CPAchecker-*.zip
/CPAchecker-*.tar.*
/SpotBugs.html
/SpotBugs.xml
/SpotBugs.diff.html
/SpotBugs.diff.xml
/JUnit.html
/.apt-generated
/.factorypath

# /lib/
/lib/java
/lib/java-contrib
/lib/java-benchmark

# /lib/native/source/
/lib/native/source/*/*.log
/lib/native/source/*/*.o
/lib/native/source/*/*.so

# /lib/native/
/lib/native/*/libfoci.so

# /scripts/
/scripts/witness_validation_web_cloud.pyz

# /src/org/sosy_lab/cpachecker/cpa/automaton/
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonParser.java
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonScanner.java
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonSym.java

# /src/org/sosy_lab/cpachecker/util/predicates/precisionConverter/
/src/org/sosy_lab/cpachecker/util/predicates/precisionConverter/FormulaParser.java
/src/org/sosy_lab/cpachecker/util/predicates/precisionConverter/FormulaScanner.java
/src/org/sosy_lab/cpachecker/util/predicates/precisionConverter/FormulaSymbols.java

# /test/programs/
/test/programs/benchmarks
/test/programs/ldv-benchmarks

# /test/results/
/test/results/*

# /.idea/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries
.idea/findbugs-idea.xml
.idea/junitgenerator-prj-settings.xml
.idea/vcs.xml
