
# /
/bin
/build.properties
/output
/cpachecker.jar
/CPAchecker-*.zip
/CPAchecker-*.tar.*
/FindBugs.html
/FindBugs.xml
/FindBugs.diff.html
/FindBugs.diff.xml
/JUnit.html
/.factorypath

# /META-INF/
/META-INF/.hg*
/META-INF/build.properties
/META-INF/META-INF*
/META-INF/lib*
/META-INF/.classpath
/META-INF/*.jar
/META-INF/nativeLib*
/META-INF/MANIFEST.MF

# /lib/
/lib/java
/lib/java-contrib
/lib/java-benchmark
/lib/gae
/lib/gae-contrib
/lib/appengine-java-sdk*

# /lib/native/
/lib/native/.hg*
/lib/native/build.properties
/lib/native/META-INF*
/lib/native/lib*
/lib/native/.classpath
/lib/native/*.jar
/lib/native/nativeLib*

# We don't have a license to redistribute it.
/lib/native/*/libfoci.so

# /lib/native/source/libmathsat5j/
/lib/native/source/libmathsat5j/*.log
/lib/native/source/libmathsat5j/*.o
/lib/native/source/libmathsat5j/*.so

# /lib/native/source/libz3j/
/lib/native/source/libz3j/*.log
/lib/native/source/libz3j/*.o
/lib/native/source/libz3j/*.so
/lib/native/source/libz3j/org_sosy_lab_cpachecker_util_predicates_z3_Z3NativeApi.*

# /lib/native/source/octagon-libJOct.so/
/lib/native/source/octagon-libJOct.so/*.o
/lib/native/source/octagon-libJOct.so/*.so

# /lib/source/

# /src/
/src/.hg*
/src/build.properties
/src/META-INF*
/src/lib*
/src/.classpath
/src/*.jar
/src/nativeLib*

# /src/org/sosy_lab/cpachecker/cfa/model/c/
/src/org/sosy_lab/cpachecker/cfa/model/c/.hg*
/src/org/sosy_lab/cpachecker/cfa/model/c/build.properties
/src/org/sosy_lab/cpachecker/cfa/model/c/META-INF*
/src/org/sosy_lab/cpachecker/cfa/model/c/lib*
/src/org/sosy_lab/cpachecker/cfa/model/c/.classpath
/src/org/sosy_lab/cpachecker/cfa/model/c/*.jar
/src/org/sosy_lab/cpachecker/cfa/model/c/nativeLib*

# /src/org/sosy_lab/cpachecker/core/interfaces/
/src/org/sosy_lab/cpachecker/core/interfaces/.hg*
/src/org/sosy_lab/cpachecker/core/interfaces/build.properties
/src/org/sosy_lab/cpachecker/core/interfaces/META-INF*
/src/org/sosy_lab/cpachecker/core/interfaces/lib*
/src/org/sosy_lab/cpachecker/core/interfaces/.classpath
/src/org/sosy_lab/cpachecker/core/interfaces/*.jar
/src/org/sosy_lab/cpachecker/core/interfaces/nativeLib*

# /src/org/sosy_lab/cpachecker/cpa/automaton/
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonParser.java
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonScanner.java
/src/org/sosy_lab/cpachecker/cpa/automaton/AutomatonSym.java
/src/org/sosy_lab/cpachecker/cpa/automaton/ObserverAnalysisAutomatedTests.java
/src/org/sosy_lab/cpachecker/cpa/automaton/tmp.txt

# /src/org/sosy_lab/cpachecker/cpa/composite/
/src/org/sosy_lab/cpachecker/cpa/composite/.hg*
/src/org/sosy_lab/cpachecker/cpa/composite/build.properties
/src/org/sosy_lab/cpachecker/cpa/composite/META-INF*
/src/org/sosy_lab/cpachecker/cpa/composite/lib*
/src/org/sosy_lab/cpachecker/cpa/composite/.classpath
/src/org/sosy_lab/cpachecker/cpa/composite/*.jar
/src/org/sosy_lab/cpachecker/cpa/composite/nativeLib*

# /src/org/sosy_lab/cpachecker/cpa/defuse/
/src/org/sosy_lab/cpachecker/cpa/defuse/.hg*
/src/org/sosy_lab/cpachecker/cpa/defuse/build.properties
/src/org/sosy_lab/cpachecker/cpa/defuse/META-INF*
/src/org/sosy_lab/cpachecker/cpa/defuse/lib*
/src/org/sosy_lab/cpachecker/cpa/defuse/.classpath
/src/org/sosy_lab/cpachecker/cpa/defuse/*.jar
/src/org/sosy_lab/cpachecker/cpa/defuse/nativeLib*

# /src/org/sosy_lab/cpachecker/cpa/featurevariables/
/src/org/sosy_lab/cpachecker/cpa/featurevariables/TestBDD.java

# /src/org/sosy_lab/cpachecker/cpa/location/
/src/org/sosy_lab/cpachecker/cpa/location/.hg*
/src/org/sosy_lab/cpachecker/cpa/location/build.properties
/src/org/sosy_lab/cpachecker/cpa/location/META-INF*
/src/org/sosy_lab/cpachecker/cpa/location/lib*
/src/org/sosy_lab/cpachecker/cpa/location/.classpath
/src/org/sosy_lab/cpachecker/cpa/location/*.jar
/src/org/sosy_lab/cpachecker/cpa/location/nativeLib*

# /src/org/sosy_lab/cpachecker/cpa/octagon/
/src/org/sosy_lab/cpachecker/cpa/octagon/.hg*
/src/org/sosy_lab/cpachecker/cpa/octagon/build.properties
/src/org/sosy_lab/cpachecker/cpa/octagon/META-INF*
/src/org/sosy_lab/cpachecker/cpa/octagon/lib*
/src/org/sosy_lab/cpachecker/cpa/octagon/.classpath
/src/org/sosy_lab/cpachecker/cpa/octagon/*.jar
/src/org/sosy_lab/cpachecker/cpa/octagon/nativeLib*

# /src/org/sosy_lab/cpachecker/exceptions/
/src/org/sosy_lab/cpachecker/exceptions/.hg*
/src/org/sosy_lab/cpachecker/exceptions/build.properties
/src/org/sosy_lab/cpachecker/exceptions/META-INF*
/src/org/sosy_lab/cpachecker/exceptions/lib*
/src/org/sosy_lab/cpachecker/exceptions/.classpath
/src/org/sosy_lab/cpachecker/exceptions/*.jar
/src/org/sosy_lab/cpachecker/exceptions/nativeLib*

# /src/org/sosy_lab/cpachecker/util/octagon/
/src/org/sosy_lab/cpachecker/util/octagon/.hg*
/src/org/sosy_lab/cpachecker/util/octagon/build.properties
/src/org/sosy_lab/cpachecker/util/octagon/META-INF*
/src/org/sosy_lab/cpachecker/util/octagon/lib*
/src/org/sosy_lab/cpachecker/util/octagon/.classpath
/src/org/sosy_lab/cpachecker/util/octagon/*.jar
/src/org/sosy_lab/cpachecker/util/octagon/nativeLib*

# /src/org/sosy_lab/cpachecker/util/predicates/smtInterpol/
/src/org/sosy_lab/cpachecker/util/predicates/smtInterpol/Lexer.java
/src/org/sosy_lab/cpachecker/util/predicates/smtInterpol/LexerSymbols.java
/src/org/sosy_lab/cpachecker/util/predicates/smtInterpol/Parser.java
/src/org/sosy_lab/cpachecker/util/predicates/smtInterpol/*~

# /test/
/test/a.out
/test/*.i
/test/*.o

# /test/original-sources/blasting_linux/
/test/original-sources/blasting_linux/a.out
/test/original-sources/blasting_linux/*.i
/test/original-sources/blasting_linux/*.o

# /test/programs/

# /test/programs/blasting_linux/
/test/programs/blasting_linux/*.log
/test/programs/blasting_linux/a.out
/test/programs/blasting_linux/*.i
/test/programs/blasting_linux/*.o

# /test/programs/freeradius/
/test/programs/freeradius/*.log
/test/programs/freeradius/a.out
/test/programs/freeradius/*.i
/test/programs/freeradius/*.o

# /test/programs/loops/
/test/programs/loops/*.log
/test/programs/loops/a.out
/test/programs/loops/*.i
/test/programs/loops/*.o

# /test/programs/olden/
/test/programs/olden/*.log
/test/programs/olden/a.out
/test/programs/olden/*.i
/test/programs/olden/*.o

# /test/programs/simple/
/test/programs/simple/*.log
/test/programs/simple/a.out
/test/programs/simple/*.i
/test/programs/simple/*.o

# /test/programs/sqlite/
/test/programs/sqlite/*.log
/test/programs/sqlite/a.out
/test/programs/sqlite/*.i
/test/programs/sqlite/*.o

# /test/results/
/test/results/*

/.metadata
/test/programs/benchmarks

/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/WEB-INF/lib
/war/WEB-INF/configurations
/war/WEB-INF/specifications
