# This file is part of CPAchecker,
# a tool for configurable software verification:
# https://cpachecker.sosy-lab.org
#
# SPDX-FileCopyrightText: 2007-2020 Dirk Beyer <https://www.sosy-lab.org>
#
# SPDX-License-Identifier: Apache-2.0

include: /build/gitlab-ci.yml

variables:
  PROJECT_PATH: "sosy-lab/software/cpachecker"
  GH_REF: "github.com/sosy-lab/cpachecker"
  # Version of https://gitlab.com/sosy-lab/software/refaster/ to use
  REFASTER_REPO_REVISION: e842c376f095c5307f72391f1286bd438f455b97
  # Needs to be synchronized with Error Prone version in lib/ivy.xml
  REFASTER_VERSION: 2.11.0
  PIP_CACHE_DIR: "${CI_PROJECT_DIR}/.cache/pip"
  npm_config_cache: "${CI_PROJECT_DIR}/.cache/npm"
  npm_config_prefer_offline: "true"

.pip-cache: &pip-cache
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - ".cache/pip"

.node-cache: &node-cache
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - ".cache/npm"

.binary_check: &binary_check
  stage: checks

.configuration-checks: &configuration-checks
  <<: *binary_check
  script: "ant $ANT_PROPS_CHECKS configuration-checks"
  artifacts:
    paths:
      - "ConfigurationChecks.html"
      - "hs_err_pid*.log"
    when: always
    reports:
      junit: "output/configuration-checks/TESTS-TestSuites.xml"

configuration-checks:jdk-11:
  <<: *configuration-checks
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11
  image: ${CI_REGISTRY_IMAGE}/test:jdk-11

configuration-checks:jdk-17:
  <<: *configuration-checks
  dependencies:
    - build-dependencies
    - build:jdk-17
  needs:
    - build-dependencies
    - build:jdk-17
  image: ${CI_REGISTRY_IMAGE}/test:jdk-17


configuration-documentation:
  <<: *binary_check
  script:
    - "cp doc/ConfigurationOptions.txt doc/ConfigurationOptions.txt.old"
    - "ant $ANT_PROPS_CHECKS build-documentation -Ddocumentation.uptodate=false"
    - "diff doc/ConfigurationOptions.txt.old doc/ConfigurationOptions.txt"
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11


configuration-plot:
  stage: checks
  script:
    - "mkdir -p output"
    - "touch output/AssumptionAutomaton.txt"
    - "scripts/configViz.py > ConfigurationPlot.dot"
    - "dot -Tsvg ConfigurationPlot.dot -O"
  dependencies: []
  needs: []
  artifacts:
    paths:
      - "ConfigurationPlot.dot.svg"


forbidden-apis:
  <<: *binary_check
  script: "ant $ANT_PROPS_CHECKS forbiddenapis"
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11


.python-unit-tests: &python-unit-tests
  <<: *binary_check
  script: "ant $ANT_PROPS_CHECKS python-unit-tests"

python-unit-tests:jdk-11:
  <<: *python-unit-tests
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11
  image: ${CI_REGISTRY_IMAGE}/test:jdk-11

python-unit-tests:jdk-17:
  <<: *python-unit-tests
  dependencies:
    - build-dependencies
    - build:jdk-17
  needs:
    - build-dependencies
    - build:jdk-17
  image: ${CI_REGISTRY_IMAGE}/test:jdk-17


javascript-build:
  stage: checks
  dependencies: []
  needs: []
  image: ${CI_REGISTRY_IMAGE}/test:node
  before_script:
    - cd src/org/sosy_lab/cpachecker/core/counterexample/
    - npm ci
  script:
    - npm run build
    - git diff --stat --exit-code
  artifacts:
    paths:
      -  src/org/sosy_lab/cpachecker/core/counterexample/build
    when: on_failure
  <<: *node-cache

javascript-unit-tests:
  stage: checks
  dependencies: []
  needs: []
  image: ${CI_REGISTRY_IMAGE}/test:node
  before_script:
    - cd src/org/sosy_lab/cpachecker/core/counterexample/
    - npm ci
  script:
    - npm test
  cache:
    paths:
    - "src/org/sosy_lab/cpachecker/core/counterexample/node_modules/"
  artifacts:
    paths:
      - src/org/sosy_lab/cpachecker/core/counterexample/unit_testing_report.html
    when: always
  <<: *node-cache

javascript-eslint:
  stage: checks
  dependencies: []
  needs: []
  image: ${CI_REGISTRY_IMAGE}/test:node
  before_script:
    - cd src/org/sosy_lab/cpachecker/core/counterexample/
    - npm ci
  script:
    - npm run lint
  <<: *node-cache


build-docker:test:java-node:
  extends: .build-docker
  variables:
    DOCKERFILE: build/gitlab-ci.Dockerfile.java-node
    IMAGE: /test:java-node

build-docker:test:node:
  extends: .build-docker
  variables:
    DOCKERFILE: build/gitlab-ci.Dockerfile.node
    IMAGE: /test:node

build-docker:release:
  extends: .build-docker
  variables:
    DOCKERFILE: build/Dockerfile.release
    IMAGE: ":2.1.1"
    EXTRA_ARGS: "--destination $CI_REGISTRY_IMAGE:latest"


javascript-e2e-tests:
  stage: checks
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11
  image: ${CI_REGISTRY_IMAGE}/test:java-node
  before_script:
      # generate example report
    - scripts/cpa.sh -predicateAnalysis test/programs/simple/SSAMap-bug.c
    - cd src/org/sosy_lab/cpachecker/core/counterexample/
    - npm ci
    - "npx webdriver-manager update --versions.chrome $(dpkg-query --showformat='${Version}' --show google-chrome-stable)"
  script:
    - npm run e2e-test
  cache:
    paths:
    - src/org/sosy_lab/cpachecker/core/counterexample/node_modules/
  artifacts:
    paths:
      - output/Counterexample.1.html
      - src/org/sosy_lab/cpachecker/core/counterexample/e2e-tests-report
    when: always


# Checks for Python code
check-format-python:
  stage: checks
  dependencies: []
  needs: []
  image: python
  before_script:
    - pip install black
  script:
    - black . --check --diff
  <<: *pip-cache

flake8:
  stage: checks
  dependencies: []
  needs: []
  image: python:3.8
  before_script:
    - "pip install 'flake8<4' 'bandit==1.7.2' flake8-awesome"
  script:
    - flake8
  <<: *pip-cache


build-tar:
  stage: checks
  dependencies:
    - build-dependencies
    - build:jdk-11
  needs:
    - build-dependencies
    - build:jdk-11
  script: "ant $ANT_PROPS_CHECKS dist-unix -Dnamet=cpachecker"
  artifacts:
    paths:
      - "cpachecker.tar.bz2"
  only:
    refs:
      - trunk

deploy-docker:
  stage: deploy
  dependencies:
    - build-tar
  needs:
    - build-tar
  extends: .build-docker
  variables:
    DOCKERFILE: build/Dockerfile.dev
    IMAGE: ":dev"
    EXTRA_ARGS: "--context dir://."
  only:
    refs:
      - trunk


# No coverage is computed for CPAchecker
unit-tests:jdk-11:
  script: "ant $ANT_PROPS_CHECKS unit-tests"
  artifacts:
    reports:
      junit: "output/junit/TESTS-TestSuites.xml"

unit-tests:jdk-17:
  script: "ant $ANT_PROPS_CHECKS unit-tests"
  artifacts:
    reports:
      junit: "output/junit/TESTS-TestSuites.xml"


# Disable some checks because they are not used for CPAchecker
javadoc:
  only: []
