# This file is part of CPAchecker,
# a tool for configurable software verification:
# https://cpachecker.sosy-lab.org
#
# SPDX-FileCopyrightText: 2024 Dirk Beyer <https://www.sosy-lab.org>
#
# SPDX-License-Identifier: Apache-2.0

# consistent names and mail addresses
Daniel Baier <daniel.baier@sosy.ifi.lmu.de>
Daniel Baier <daniel.baier@sosy.ifi.lmu.de> <baier-daniel@gmx.net>
Felix Hajuj <felixhajuj@gmail.com>
Marcel Bernert <m.bernert@campus.lmu.de>
Marian Lingsch-Rosenfeld <marian.lingsch@sosy.ifi.lmu.de> <Marian.Lingsch@sosy.ifi.lmu.de>
Marie-Christine Jakobs <jakobs@sosy.ifi.lmu.de>
Noah König <email@noahkoenig.de>
Sara Ruckstuhl <sara.ruckstuhl@campus.lmu.de>
Tian Xia <xiatian1996cd@gmail.com>

# map old account names from SVN repository
Daniel Baier <daniel.baier@sosy.ifi.lmu.de> <dbaier@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Daniel Raffler <daniel-raffler@gmx.de> <draffler@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
George Karpenkov <true.cheshire@gmail.com> <karpenkov@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Henrik Wachowitz <henrik.wachowitz@ifi.lmu.de> <hwachowitz@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Karlheinz Friedberger <kfriedberger@gmail.com> <friedber@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
M. Erkan Keremoglu <mek3@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
M. Erkan Keremoglu <mek3@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c> <erkan@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Marcel Bernert <m.bernert@campus.lmu.de> <mbernert@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Marek Jankola <marek.jankola@sosy.ifi.lmu.de> <mjankola@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Marian Lingsch-Rosenfeld <marian.lingsch@sosy.ifi.lmu.de> <mlingsch@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Marie-Christine Jakobs <jakobs@sosy.ifi.lmu.de> <mcjakobs@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Matthias Kettl <matthias.kettl@sosy.ifi.lmu.de> <mkettl@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Nico Weise <weise.nico96@gmail.com> <nweise@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Noah König <email@noahkoenig.de> <nkoenig@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Philipp Wendler <uni@philippwendler.de> <pwendler@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Rodrigo Castaño <castano.rodrigo@gmail.com> <castano@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Sara Ruckstuhl <sara.ruckstuhl@campus.lmu.de> <sruckstuhl@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Stephan Lukasczyk <stephan@lukasczyk.me> <lukasczyk@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Thomas Lemberger <lembergerth@gmail.com> <lemberge@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Thomas Stieglmaier <thomas@stieglmaier.me> <stieglma@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
Tian Xia <xiatian1996cd@gmail.com> <txia@4712c6d2-40bb-43ae-aa4b-fec3f1bdfe4c>
