.navbar-brand {
  padding: 0;
}

.logo {
  padding: 2px 0 2px 2px;
  width: 100px;
}

.table-jobs td a {
  display: block;
  text-decoration: none;
}

.table-jobs tr:hover td a.hover-decorate {
  text-decoration: underline;
}

.table-jobs th, .table-jobs td {
  text-align: center;
}
