.navbar-brand {
  padding: 0;
}

.logo {
  padding: 2px 0 2px 2px;
  width: 100px;
}

.table-tasks td a {
  display: block;
  text-decoration: none;
}

.table-tasks tr:hover td a.hover-decorate {
  text-decoration: underline;
}

.table-tasks th, .table-tasks td {
  text-align: center;
}

.centered {
  text-align: center;
}
