<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gource/src/org/sosy_lab/cpachecker/cmdline/CPAMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sosy_lab.cpachecker.cmdline.CPAMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-valueAnalysis&#10;-stats&#10;-setprop cfa.useMultiEdges=false&#10;-setprop cpa.value.refiner.prefixPreference=REFINE_DEEP&#10;-spec test/programs/benchmarks/eca-rers2012/ALL.prp&#10;test/programs/benchmarks/eca-rers2012/Problem01_label00_true-unreach-call.c"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gource"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea&#10;-Xmx1200m"/>
</launchConfiguration>
