<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CPAcheckerDevelopment/src/org/sosy_lab/cpachecker/cmdline/PCCProofCheckMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sosy_lab.cpachecker.cmdline.PCCProofCheckMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-proofCarryingCode-sbe&#13;&#10;&quot;${file_prompt:the C program to verify:${workspace_loc}/${project_path}/test/programs/simple/pcc/ExampleAssignmentAssume.c}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CPAcheckerDevelopment"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea&#13;&#10;-Xmx1200m&#13;&#10;-Djava.library.path=lib/native/${target.arch}-${target.os}"/>
</launchConfiguration>
