<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="listeners" name="Test Listeners" />
	<!--
	<extension point="org.sosy_lab.cpachecker.plugin.eclipse.listeners">
	<listener
		class="org.sosy_lab.cpachecker.plugin.eclipse.Listener">
		</listener>
	</extension> -->
	<extension point="org.eclipse.ui.views">
		<category
			name="CPAchecker"
			id="org.sosy_lab.cpachecker.plugin.eclipse.catMain">
		</category>
		<view
			name="CPAchecker Tasks View"
			icon="icons/MainLogo.gif"
			category="org.sosy_lab.cpachecker.plugin.eclipse.catMain"
			class="org.sosy_lab.cpachecker.plugin.eclipse.views.TasksView"
			id="org.sosy_lab.cpachecker.plugin.eclipse.views.TasksView">
		</view>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
      <category
            name="CPAchecker"
            id="org.sosy_lab.cpachecker.plugin.eclipse.wizards">
      </category>
      <wizard
      		category="org.sosy_lab.cpachecker.plugin.eclipse.wizards"
            name="new CPAchecker Task"
            icon="$nl$/icons/sample.gif"
            class="org.sosy_lab.cpachecker.plugin.eclipse.wizards.NewTaskCreationWizard"
            id="org.sosy_lab.cpachecker.plugin.eclipse.wizards.NewTaskCreationWizard">
         <description>
            new CPAchecker Task
         </description>
      </wizard>
   </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Property File GUI Editor"
            icon="icons/config32.gif"
            extensions="properties"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.propertieseditor.PropertiesEditor"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.propertieseditor.PropertiesEditor">
      </editor>  	
      	<editor
            name="Automaton Editor"
            extensions="auto"
            icon="icons/sample.gif"
            default="true"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.automatoneditor.AutomatonEditor"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.automatoneditor.AutomatonEditor">
      	</editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.sosy_lab.cpachecker.plugin.eclipse.popupmenu"
			objectClass="java.lang.Object">
			<visibility>
			<or>
				<objectClass name="org.eclipse.cdt.core.model.ITranslationUnit"/>
				<objectClass name="org.eclipse.core.resources.IFile"/>
			</or>
			</visibility>
         <menu
               id="org.sosy_lab.cpachecker.plugin.eclipse.generalMenu"
               label="CPAchecker"
               path="additions">
            <separator name="group2">
            </separator>
         </menu>
         <action
               class="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.NewTaskAction"
               enablesFor="+"
               id="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.NewTaskAction"
               label="create new Task"
               menubarPath="org.sosy_lab.cpachecker.plugin.eclipse.generalMenu/group2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CPAcheckerPlugin"
            class="org.sosy_lab.cpachecker.plugin.eclipse.preferences.CPAPreferencePage"
            id="org.sosy_lab.cpachecker.plugin.eclipse.preferences.CPAPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sosy_lab.cpachecker.plugin.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
	    id="org.sosy_lab.cpachecker.plugin.eclipse.taskRenameParticipant"
	    name="Rename Task" 
	    class="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.taskRenameParticipant">
	    <enablement>
	      <instanceof value="org.sosy_lab.cpachecker.plugin.eclipse.views.TaskTreeViewer.TaskNode">
	      </instanceof>
	    </enablement>
	</renameParticipant>
   </extension>
</plugin>
