<!--
This file is part of CPAchecker,
a tool for configurable software verification:
https://cpachecker.sosy-lab.org

SPDX-FileCopyrightText: 2007-2020 Dirk Beyer <https://www.sosy-lab.org>
SPDX-FileCopyrightText: 2018 Lokesh Nandanwar

SPDX-License-Identifier: Apache-2.0
-->

<!-- Refer to the doc/ReportTemplateStyleGuide.md for Coding and Style Guide. They will let you write better code
with considerably less effort -->

<!DOCTYPE html>
<html ng-app='report'>

<head>
  <meta charset="UTF-8">
  <!-- METATAGS -->
  <title>CPAchecker Report</title>
  <!-- REPORT_CSS -->
  <link rel="stylesheet" href="https://www.sosy-lab.org/lib/fontawesome-free/css/fontawesome-all.min.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.sosy-lab.org/lib/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <script src="https://www.sosy-lab.org/lib/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.sosy-lab.org/lib/jquery-ui/1.12.1/jquery-ui.min.css" integrity="sha384-VK/ia2DWrvtO05YDcbWI8WE3WciOH0RhfPNuRJGSa3dpAs5szXWQuCnPNv/yzpO4"
    crossorigin="anonymous">
  <script src="https://www.sosy-lab.org/lib/jquery-ui/1.12.1/jquery-ui.min.js" integrity="sha384-PtTRqvDhycIBU6x1wwIqnbDo8adeWIWP3AHmnrvccafo35E7oIvW7HPXn2YimvWu"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/tooltip.js/1.2.0/tooltip.min.js" integrity="sha384-9MYfW4+cUynMIN6UiFuOu/5GAs2JEbbknCAyCvLPttuYxlLpocQpEkX210OoGn4p"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/angularjs/1.7.0/angular.min.js" integrity="sha384-OGKaWeggmIvCx/zchfRERRmxXYyFHhSRKBcld3xfy5N42zsVueW6rVyiL7E53ZGJ"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/d3js/5.4.0/d3.min.js" integrity="sha384-Ha//YQhNUuPzmPKgC8aYpurZcTiV3JhEvEhH5uGW0IRjBfEgDQxvo0aF1Gef+blI"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/dagre-d3/0.5.0/dagre-d3.min.js" integrity="sha384-0qz1K6Ihi4XT9AwqcOOC/ciBQ9ufdzKZUc8G1It6RZ+oLJSk41EhaZiLPVoBE0JT"
    crossorigin="anonymous"></script>
  <script src="https://www.sosy-lab.org/lib/google-code-prettify/2018-04-29-453bd5f/prettify.js" integrity="sha384-KlbExXRJYYILJYRAJR121vJXgBDx+puqf1yjznMcTt7C5njwQajOLFwk6pMafFnX"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.sosy-lab.org/lib/google-code-prettify/2018-04-29-453bd5f/prettify.css" integrity="sha384-tGeLopS7aWCwgeqg+ah7c+iI19JU3teQPshyaQVybvOMRravAVLscwoeT4HPsfoW"
    crossorigin="anonymous">
  <script src="https://www.sosy-lab.org/lib/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.sosy-lab.org/lib/datatables/1.10.18/datatables.min.css" integrity="sha384-t1jrh3H+gcVq93cU14/FvFkiDDLHAupR2uFWQFOIqqB0ZgNvd09e5yjT5Mc9mGPZ"
    crossorigin="anonymous">
  <script src="https://www.sosy-lab.org/lib/datatables/1.10.18/datatables.min.js" integrity="sha384-b6lz7vBoPNFWulOisoJlEziEWnbO6TbeulJvmrmuro+kXqlUgmn+sVfASUlqVcZo"
    crossorigin="anonymous"></script>
  <script>
    <!-- REPORT_JS -->
  </script>
</head>

<body ng-controller="ReportController" id="report-controller" onload="init()">
  <header class="header">
    <a href="https://cpachecker.sosy-lab.org/">
      <img class="logo" ng-src="{{logo}}" />
    </a>
    <h1>
      Report for
      <!-- REPORT_NAME -->
    </h1>
    <span class="badge badge-info generated">
      <!-- GENERATED -->
    </span>
  </header>

  <div class="modal fade" id="renderStateModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Graphs Rendering Progress</h4>
        </div>
        <div class="modal-body">
          <p class="loader">Rendered CFA graphs : &nbsp;
            <span id="cfa-modal"></span>
          </p>
          <p class="loader">Rendered ARG graphs : &nbsp;
            <span id="arg-modal"></span>
          </p>
          <p id="arg-modal-error" class="loader" style="display: none;"> Render ARG Error Graph </p>
        </div>
      </div>
    </div>
  </div>

  <div class="sections">

    <section id="errorpath_section" ng-controller="ErrorpathController">
      <header ng-controller="SearchController" class="text-center">
        <div class="btn-group" role="group" aria-label="Button group">
          <button class="btn btn-success" ng-click="errPathPrevClicked($event)" data-toggle="tooltip" data-placement="top" title="Click here to move on Previous Line">Prev</button>
          <button class="btn btn-warning" ng-click="errPathStartClicked()">Start</button>
          <button class="btn btn-success" ng-click="errPathNextClicked($event)" data-toggle="tooltip" data-placement="bottom" title="Click here to move on Next Line">Next</button>
        </div>
        <div class="help_button" data-toggle="tooltip" data-placement="top" title="Get help!">
          <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-trigger="focus"
            data-content="{{help_errorpath}}" class="btn btn-outline-info btn-lg help_button">
            <i class="fas fa-question-circle"></i>
          </a>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" ng-keydown="checkIfEnter($event)" class="form-control search-input" placeholder="Search for...">
          <span class="input-group-btn">
            <button ng-click="searchFor()" class="btn btn-light" type="button">
              <i class="fas fa-search"></i>
            </button>
          </span>
        </div>
        <div id="searchOptions">
          <label for="optionExactMatch">
            <input id="optionExactMatch" type="checkbox" name="searchOption">
            <strong>Find only exact matches</strong>
          </label>
        </div>
        <!--shown iff property analysis.algorithm.FaultLocalization=true-->
        <div id="fault-localization-info" ng-hide="hideFaults" class="horizontal-div">
          <button id="fault-button" class="btn btn-success" ng-click="faultClicked()" data-toggle="tooltip" data-placement="bottom" title="Click here to get more detailed information about the error">Change view</button>
        </div>
        <div id="matches">
          <p class="markedValues">Matches in value-assignements (V): {{numOfValueMatches}}</p>
          <p class="markedDescriptions">Matches in edge-description: {{numOfDescriptionMatches}}</p>
        </div>
      </header>
      <div class="fileContent" ng-controller="ValueAssignmentsController" id="value-assignment">
        <table id="err-table" ng-hide="hideErrorTable">
          <tr id="errpath-header" ng-hide="hideFaults"> <td><pre></pre></td> <td><pre>Rank</pre></td> <td><pre>Scope</pre></td> </tr>
          <tr id="errpath-{{$index}}" ng-repeat="line in errorPath">
            <td ng-click="showValues($event)" data-toggle="popover" data-placement="right" data-trigger="click" data-content="{{line.valString}}">
              <pre>-V-</pre>
            </td>
	          <td ng-hide="hideFaults" class="rank" tabindex="0" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="{{line.bestreason}}">
              <pre>{{line.bestrank}}</pre>
            </td>
            <td class="disabled" ng-click="clickedErrpathElement($event)">
              <pre class="make-pretty">{{line.desc}}</pre>
            </td>
          </tr>
        </table>
          <table ng-show="hideErrorTable" ng-click="clickedFaultLocElement($event)" class="fault-table" ng-repeat="fault in faults" id="fault-{{$index}}">
            <tr>
              <td class="fault-rank" data-toggle="tooltip" data-placement="bottom" title="Rank">
                {{fault.rank}}.
              </td>
              <td class="fault-score" data-toggle="tooltip" data-placement="bottom" title="Score">
                {{fault.score}}
              </td>
              <td class="fault-details-header">
                Details:
              </td>
            </tr>
            <tr class="fault-details">
              <td colspan="3" html=true>
                
                <div ng-bind-html="htmlTrusted(fault.reason)"></div>

                <details>
                  <summary>
                    <strong>Current values:</strong>
                  </summary>
                  <table id="fault-values" class="value-table">
                    <th><td>Name</td><td>Value</td></th>
                    <tr ng-repeat="(variable,value) in fault.valDict">
                      <td ng-bind-html="htmlTrusted(variable)"></td>
                      <td ng-bind-html="htmlTrusted(value)"></td>
                    </tr>
                  </table>
                </details>

              </td>
            </tr>
          </table>
      </div>
    </section>

    <section id="externalFiles_section">

      <ul class="nav nav-pills nav-tabs">
        <li class="nav-item" id="toggle_button_error_path">
          <label class="switch" style="margin-top:5px" data-toggle="tooltip" data-placement="bottom" title="Toggle slider to show/hide error path section">
            <input type="checkbox" checked id="toggle_error_path" ng-click="toggleErrorPathSection($event)">
            <span class="slider round"></span>
          </label>
          <li class="nav-item" style="padding:10px;" id="toggle_button_error_path_placeholder">
            <span class="badge badge-warning" style="font-size: 1.1em" data-toggle="tooltip" data-placement="top" title="Toggle slider to show/hide error path section">Show Error Path Section</span>
          </li>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(1)}" data-toggle="tooltip" data-placement="top" title="Shows CFA (Control flow Automation) of the Program">
          <a class="nav-link active" data-toggle="pill" href ng-click="setTab(1)" id="set-tab-1">CFA</a>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(2)}" data-toggle="tooltip" data-placement="top" title="Shows ARG (Abstract Reachability Graph) of the Program">
          <a class="nav-link" data-toggle="pill" href ng-click="setTab(2)" id="set-tab-2">ARG</a>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(3)}" data-toggle="tooltip" data-placement="top" title="Click here for source code of the program">
          <a class="nav-link" data-toggle="pill" href ng-click="setTab(3)" id="set-tab-3">Source</a>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(4)}">
          <a class="nav-link" data-toggle="pill" href ng-click="setTab(4)">Log</a>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(5)}">
          <a class="nav-link" data-toggle="pill" href ng-click="setTab(5)">Statistics</a>
        </li>
        <li class="nav-item" ng-class="{active: tabIsSet(6)}">
          <a class="nav-link" data-toggle="pill" href ng-click="setTab(6)">Configurations</a>
        </li>
        <div>
          <button id="full_screen_mode" class="btn btn-outline-info btn-lg help_button" ng-click="makeFullScreen()">
            <i class="fas fa-expand"></i> Full Screen Mode</button>
        </div>
        <div class="help_button" data-toggle="tooltip" data-placement="top" title="Get help!">
          <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="focus"
            data-content="{{help_content}}" class="btn btn-outline-info btn-lg help_button">
            <i class="fas fa-question-circle"></i>
          </a>
        </div>
      </ul>

      <div id="cfa-toolbar" ng-controller="CFAToolbarController">
        <nav class="navbar navbar-light bg-light">slid
          <div class="nav-item">
            <label>
              <strong>Displayed CFA</strong>
            </label>
            <select class="btn btn-outline-secondary selectpicker" ng-options="f as f for f in functions" ng-model="selectedCFAFunction"
              ng-change="setCFAFunction()">
            </select>
          </div>
          <div class="nav-item">
            <label>
              <strong>Mouse Wheel Zoom</strong>
            </label>
            <span class="button-checkbox">
              <button class="btn btn-outline-secondary" id="cfa-zoom-button" type="button" data-color="primary" ng-click="zoomControl()">
                <i class="far fa-square"></i>
              </button>
            </span>
          </div>
          <div class="nav-item">
            <label>
              <strong>Split Threshold</strong>
            </label>
            <input type="text" aria-label="Split Threshold" id="cfa-split-threshold">
            <button class="btn btn-outline-secondary" type="button" ng-click="redraw()" data-toggle="tooltip" data-placement="top" title="Refresh Split Threshold">
              <i class="fas fa-sync"></i>
            </button>
          </div>
          </ul>
        </nav>
      </div>

      <div id="arg-toolbar" ng-controller="ARGToolbarController">
        <nav class="navbar navbar-light bg-light">
          <div class="nav-item">
            <label>
              <strong>Displayed ARG</strong>
            </label>
            <select class="btn btn-outline-secondary selectpicker" ng-options="s as s for s in argSelections" ng-model="$root.displayedARG"
              ng-change="displayARG()"></select>
          </div>
          <div class="nav-item">
            <strong>Mouse Wheel Zoom</strong>
            </label>
            <span class="button-checkbox">
              <button class="btn btn-outline-secondary" id="arg-zoom-button" type="button" data-color="primary" ng-click="argZoomControl()">
                <i class="far fa-square"></i>
              </button>
            </span>
          </div>
          <div class="nav-item">
            <label>
              <strong>Split Threshold</strong>
            </label>
            <input type="text" aria-label="Split Threshold" id="arg-split-threshold">
            <button class="btn btn-outline-secondary" type="button" ng-click="argRedraw()" data-toggle="tooltip" data-placement="top"
              title="Refresh Split Threshold">
              <i class="fas fa-sync"></i>
            </button>
          </div>
        </nav>
      </div>

      <div id="cfa-container" ng-class="{active: tabIsSet(1)}">
      </div>

      <div id="arg-container" ng-class="{active: tabIsSet(2)}">
      </div>

      <div class="fileContent content" ng-show="tabIsSet(3)" ng-class="{active: tabIsSet(3)}" ng-controller="SourceController">
        <div class="edit-line">
          <div class="dropdown" id="dropdownMenu2">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Displayed Sourcefile
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pre-scrollable">
              <li ng-repeat="file in sourceFiles">
                <a ng-click="setSourceFile($index)">{{file}}</a>
              </li>
            </ul>
          </div>slid
          <label>
            <strong>{{sourceFiles[selectedSourceFile]}}</strong>
          </label>
        </div>
        <!--SOURCE_CONTENT-->
      </div>
      <div class="fileContent content" ng-show="tabIsSet(4)" ng-class="{active: tabIsSet(4)}">
        <!--LOG-->
      </div>
      <div class="fileContent content" ng-show="tabIsSet(5)" ng-class="{active: tabIsSet(5)}">
        <!--STATISTICS-->
      </div>
      <div class="fileContent content" ng-show="tabIsSet(6)" ng-class="{active: tabIsSet(6)}">
        <!--CONFIGURATION-->
      </div>
    </section>
  </div>
  <div class="tool_tip" id="infoBox" style="z-index: 1; visibility: hidden;">
    <div id="insideBox">
      <span id="boxContent">&nbsp;</span>
    </div>
  </div>
</body>

</html>
