/*
 * This file is part of CPAchecker,
 * a tool for configurable software verification:
 * https://cpachecker.sosy-lab.org
 *
 * SPDX-FileCopyrightText: 2007-2020 Dirk Beyer <https://www.sosy-lab.org>
 * SPDX-FileCopyrightText: 2018 Lokesh Nandanwar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.worker {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.worker td, .worker th {
    border: 1px solid #ddd;
    padding: 8px;
}

.worker tr:nth-child(even) {
    background-color: #f2f2f2;
}

.worker tr:hover {
    background-color: #ddd;
}

.worker th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.precondition {
    background: rgb(255, 249, 182);
}

.postcondition {
    background: rgb(255, 204, 210);
}

.normal {
    background: rgb(224, 255, 204);
}
