<!DOCTYPE HTML>
<html>
    <head>
        <title>CPAchecker Report - {{sourcefilename}}</title>
        <style>
.edge {
    cursor: pointer;
}

html,body {
    background: #ddd;
    font-family: sans-serif;
    margin: 0px;
}

#header {
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 7px;
    text-align: center;
}

#header h1 {
    float: left;
    margin: 0px;
    font-size: large;
}

#header h2 {
    text-align: center;
    margin: 0px;
    font-size: medium;
}

#header small {
    float: right;
}

#leftContent {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 450px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#rightContent {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 455px;
    right: 0px;
    min-width: 400px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#middleLine {
    position: absolute;
    top: 40px;
    left: 450px;
    height: 39px;
    width: 4px;
    z-index: 100; /* in front of all content */
    border: 1px solid black;
    background-color: black;
    cursor: col-resize;
}

#middleLine:hover {
    background-color: lime;
}

.toolbar {
    padding: 4px;
    background-color: #eed;
    text-align: center;
    border-bottom: 1px solid black;
}

#errpathwin {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    vertical-align: top;
    overflow: auto;
    background-color: white;
}

#errpathwin ul {
    list-style: none;
    font-family: monospace;
    padding: 0px;
}

#errpathwin ul > li > span {
    width: 4em;
    background: #ccc;
    display: inline-block;
}

#errpathwin ul > li > code > a {
    display: inline-block;
}

#errpathwin ul li {
    margin: 2px;
    white-space: nowrap;
}

#errpathwin ul > li:nth-child(odd) {
    background-color: #f3f3f3;
}

#errpathwin ul > li.selected {
    border: 1px solid red;
    margin: 0px;
}

#tabContent {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#tabContent iframe {
    width: 100%;
    height: 100%;
    overflow: none;
    background: #ddc;
    border: 0px;
}

#tab_cfa,#tab_art {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background: white;
}

#tab_cfa .iframeWrapper, #tab_art .iframeWrapper {
    position: absolute;
    top: 26px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: none;
}

#tab_log,#tab_stats,#tab_conf,#tab_cil {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    overflow: auto;
    background: white;
}

fieldset {
    border: 1px solid #999;
    display: inline-block;
}

a {
    cursor: pointer;
}

a.action {
    height: 29px;
    line-height: 29px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid silver;
    background-color: #ddd;
}

a.action:hover {
    background-color: lime;
}

#tab_cil #cil_holder td {
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
}

#tab_cil #cil_holder td:first-child {
    background-color: #ccc;
}

#tab_cil #cil_holder td pre {
    padding: 0px;
    margin: 0px;
    border: none;
}

#tab_cil #cil_holder tr:nth-child(2n+1) td pre.prettyprint {
    background-color: #f3f3f3;
}

.zoomSliderContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    z-index: 2; /* slider is over content */
    border-bottom: 1px solid black;
    float: right;
    background-color: #eed;
}

#zoomLabel_tab_art, #zoomLabel_tab_cfa {
    float: right;
    line-height: 25px;
}

#zoomSlider_tab_art, #zoomSlider_tab_cfa { /* DO NOT CHANGE, USED FOR CALCULATION */
    width: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 20px;
    float: right;
}

.zoomSliderContainer .zoomSliderContent { /* DO NOT CHANGE, USED FOR CALCULATION */
    width: 2300px;
    height: 18px;
}

#functionSelector {
    float: left;
    line-height: 25px;
}

{{if errorpath == '[]':}}
#leftContent, #middleLine {
    display: none;
}
#rightContent {
    left: 0px;
}
{{endif}}

</style>

    <link href="http://www.sosy-lab.org/lib/google-code-prettify-2011-06-01/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://www.sosy-lab.org/lib/google-code-prettify-2011-06-01/prettify.js"></script>

    </head>

    <body onload="prettyPrint()">
        <div class="toolbar" id="header">
            <h1>CPAchecker Report</h1>
            <small>Generated: {{time_generated}}</small>
            <h2>{{sourcefilename}}</h2>
            <h3 id="cfalabel" style="display:none;">main</h3>
        </div>

        <div id="leftContent">
            <div class="toolbar">
                <a class="action" id="sim_start">Start</a>
                <a class="action" id="sim_prev">Prev</a>
                <a class="action" id="sim_next">Next</a>
            </div>
            <div id="errpathwin"></div>
        </div>

        <div id="middleLine" onmousedown="changeWidthMouseDown()">
        </div>

        <div id="rightContent">
            <div class="toolbar">
                <a class="action" id="show_cfa">CFA</a>
                <a class="action" id="show_art">ARG</a>
                <a class="action" id="show_cil">Source</a>
                <a class="action" id="show_log">Log</a>
                <a class="action" id="show_stats">Statistics</a>
                <a class="action" id="show_conf">Configuration</a>
            </div>

            <div id="tabContent">
                <div id="tab_cfa">
                    <div class="zoomSliderContainer">
                        <div id="zoomSlider_tab_cfa"
                             onmousemove="setZoomLevel(this.id);"
                        	 onmouseup="setZoomLevel(this.id);zoom(this.id);">
                            <div class="zoomSliderContent"></div>
                        </div>
                        <div id="zoomLabel_tab_cfa">100 %</div>
                        <div id="functionSelector">
                            <span>Displayed CFA </span>
                            <select id="functionselect"></select>
                        </div>
                    </div>
                    <div class="iframeWrapper">
                        <iframe name="tab_cfa" src="about:blank"></iframe>
                    </div>
                </div>

                <div id="tab_art">
                    <div class="zoomSliderContainer">
                        <div id="zoomSlider_tab_art"
                        	 onmousemove="setZoomLevel(this.id);"
                        	 onmouseup="setZoomLevel(this.id);zoom(this.id);">
                            <div class="zoomSliderContent"></div>
                        </div>
                        <div id="zoomLabel_tab_art">100 %</div>
                    </div>
                    <div class="iframeWrapper">
						<iframe name="tab_art" src="ARG.svg"></iframe>
					</div>
                </div>
		<div id="tab_cil">
                    {{if sourcefilecontent}}
                    <table id="cil_holder">
{{for loop, line in looper(sourcefilecontent.splitlines())}}
<tr id="cil_line_{{loop.index}}"><td><pre>{{loop.index}}</pre></td><td><pre class="prettyprint lang-c">{{line}}</pre></td></tr>
{{endfor}}
                    </table>
                    {{else}}
                    <h3>Source code not available.</h3>
                    {{endif}}
                </div>
                <div id="tab_log">
                    <pre>{{logfile or 'Logfile not available.'}}</pre>
                </div>
                <div id="tab_stats">
                    <pre>{{statistics or 'Statistics not available.'}}</pre>
                </div>
                <div id="tab_conf">
                    <pre>{{conffile or 'CPAchecker configuration not available.'}}</pre>
                </div>
            </div>
        </div>

        <script>
            /* a widget for showing tabs,
            tabs are searched under the rootElement, tabName should be "tab_X"
            buttons are searches in the whole document, buttonName should be "show_X".*/

            function Tabber(id) {
               this.rootId = id;
               this.tabs = [];
               this.buttons = [];

               this.select_tab = function(tabname) {
                   console.log('selected tab: ' + tabname + ' from #' + this.tabs.length);

                   for (var i = 0; i < this.tabs.length; i++) {
                       if (this.tabs[i].id == tabname) {
                           this.tabs[i].style.display = 'block';
                           this.buttons[i].style.textDecoration = 'underline';
                           console.log('showing tab: ' + tabname);
                       } else {
                           this.tabs[i].style.display = 'none';
                           this.buttons[i].style.textDecoration = 'none';
                       }
                   }
                   this.selection = tabname;
               };

               // collect all buttons and tabs
               this.init = function() {
                   var self = this; // needed for function "button.onclick(tabname)"

                   // get all children with tag "div" and extract children with id='tab_*'
                   var allChildren = document.getElementById(this.rootId).getElementsByTagName('div');
                   for (var i = 0; i < allChildren.length; i++) {
                       var child = allChildren[i];

                       if (child.id != null && child.id.startsWith('tab_')) {
                           this.tabs.push(child);

                           var button = document.getElementById('show_' + child.id.substring(4))
                           this.buttons.push(button);

                           // add function to button for choosing the tab
                           button.onclick = function(tabname) {
                               return function() {self.select_tab(tabname);};
                           } (child.id);

                           console.log('tab found: ' + child.id + ' + ' + button.id);
                       }
                   }

                   // initial show the first tab
                   this.select_tab(this.tabs[0].id);
               };
            }

            String.prototype.startsWith = function(str) {
               return (this.match("^" + str) == str);
            }
        </script>

        <script>
            /* script for moving the middleline to left and right. */

            /* add listeners for mouseMove and mouseUp, for changing the size,
            add functions for not selecting text while moving the mouse. */
            function changeWidthMouseDown() {
                console.log('change column width - mouse down');
                document.getElementById('middleLine').style.backgroundColor = 'orange';
                document.onmousemove = changeWidthMouseMove;
                document.onmouseup = changeWidthMouseUp;
                document.onselectstart = function() {return false;};
                document.onmousedown = function() {return false;};  // for firefox
            }

            /* remove all listeners added on mouseDown */
            function changeWidthMouseUp() {
                console.log('change column width - mouse up');
                document.getElementById('middleLine').style.backgroundColor = null;
                document.onmousemove = null;
                document.onmouseup = null;
                document.onselectstart = null;
                document.onmousedown = null;  // for firefox
            }

            /* take mousePosition and set new widths and positions */
            function changeWidthMouseMove(event) {
            	/* leftContentWidth is at least 150px */
                leftContentWidth = Math.max(event.pageX - 2, 150);
            	console.log('move to ' + leftContentWidth);

                document.getElementById('middleLine').style.left = leftContentWidth + 'px';
                document.getElementById('leftContent').style.width = leftContentWidth + 'px';
                document.getElementById('rightContent').style.left = (leftContentWidth + 5) + 'px';
            }
        </script>

        <script>
            /* script for zooming SVGs. */

            function zoomValues() {
                this.zoomLevel = 100;
                this.prevZoomLevel = 100; // used for calculation
                this.width = 0;
                this.height = 0;
            }

            var zoomData = new Object;
            zoomData["tab_cfa"] = new zoomValues;
            zoomData["tab_art"] = new zoomValues;

            /* This function reads the position of a slider and calculates the zoomLevel. */
            function setZoomLevel(sliderId) {
              var tabId = sliderId.substring(11);
              zoomData[tabId].zoomLevel = Math.round(100 - (document.getElementById(sliderId).scrollLeft / 20));
              document.getElementById('zoomLabel_' + tabId).innerHTML =  zoomData[tabId].zoomLevel + ' %';
            }

            /* This function reads the zoomLevel and changes the size of an image. */
            function zoom(sliderId) {
              var tabId = sliderId.substring(11);
              var svg = window.frames[tabId].document.getElementsByTagName('svg')[0];
              var data = zoomData[tabId];

              // store original values, remove 'pt' from values
              if (!zoomData[tabId].width) {
                  var widthPx = svg.getAttribute('width')
                  data.width = parseInt(widthPx.substring(0, widthPx.length - 2));
              }
              if (!zoomData[tabId].height) {
                  var heightPx = svg.getAttribute('height')
                  data.height = parseInt(heightPx.substring(0, heightPx.length - 2));
              }

              // get current position of view, this must be done BEFORE resizing the SVG!
              var oldTop = window.frames[tabId].pageYOffset;
              var oldLeft = window.frames[tabId].pageXOffset;
              var newTop = Math.round(oldTop * data.zoomLevel / data.prevZoomLevel);
              var newLeft = Math.round(oldLeft * data.zoomLevel / data.prevZoomLevel);

              // resize SVG
              var newWidth = Math.round(data.zoomLevel / 100 * data.width);
              var newHeight = Math.round(data.zoomLevel / 100 * data.height);
              console.log(tabId + ' size: ' + svg.getAttribute('width') + '/' +
                  svg.getAttribute('height') + ' --> ' + newWidth + 'pt/' + newHeight + 'pt');
              svg.setAttribute('width', newWidth + 'pt');
              svg.setAttribute('height', newHeight + 'pt');

              // scroll to old position, this must be done AFTER resizing the SVG!
              window.frames[tabId].scrollTo(newLeft, newTop);

              console.log(tabId + ' top: ' + oldTop + ' --> ' + newTop +
                  ', left: ' + oldLeft + ' --> ' + newLeft);
              data.prevZoomLevel = data.zoomLevel;
            }

            /* This function reverts/clears zoomData of a tab. */
            function clearZoom(tabId) {
                zoomData[tabId] = new zoomValues;
                document.getElementById('zoomSlider_' + tabId).scrollLeft = 0;
                document.getElementById('zoomLabel_' + tabId).innerHTML =  '100 %';
            }
        </script>

        <script>
            // ignore console.log and console.debug when firebug is turned off or not installed
            if (!window.console) {
                window.console = {
                    log: function() {},
                    debug: function() {}
                };
            }
            //allows sending events to multiple handlers
            function EventHelper(events) {
                console.log('init eventhelper');
                var self = this;
                var handlers = {};
                for (var i = 0; i < events.length; i++) {
                    handlers[events[i]] = [];
                }
                //add handler for event
                self.add = function(evtname, handler) {
                    console.log('eventhelper add ' + evtname);
                    if (handlers[evtname] !== undefined) {
                        console.log('eventhelper add: adding handler to ' + evtname);
                        handlers[evtname].push(handler);
                    } else {
                        console.log('eventhelper add: event not known.');
                    }
                };
                //fire event - calls all registered handlers
                self.fire = function(evtname, param1, param2, param3, param4) {
                    console.log('eventhelper fire ' + evtname);
                    if (handlers[evtname] !== undefined) {
                        console.log('eventhelper fire: firing ' + evtname);
                        var evthandlers = handlers[evtname];
                        for (var i = 0; i < evthandlers.length; i++) {
                            evthandlers[i](evtname, param1, param2, param3, param4);
                        }
                    } else {
                        console.log('eventhelper fire: event not known.');
                    }
                };
                //remove handler
                self.remove = function(evtname, handler) {
                    if (handlers[evtname] !== undefined) {
                        handlers[evtname].remove(handler);
                    }
                };
            }

            //CSS class helpers
            function addClass(elem, cssclass) {
                elem.className += " " + cssclass;
            }

            function removeClass(elem, cssclass) {
                var re = new RegExp('\\b' + cssclass + '\\b');
                elem.className = elem.className.replace(re, ' ');
            }
        </script>

        <script>
            //the report viewer
            var viewer = {};

            //data object - populated later
            viewer.data = {};
            //windows object - components are nested inside
            viewer.windows = {};

            //the panel on the right
            viewer.windows.rightpane = new Tabber('tabContent');

            //the cfa view
            viewer.windows.cfawin = new (function() {
                console.log('instanciated cfawin');
                var self = this;
                //event support
                self.handlers = new EventHelper(['cfa_loaded', 'node_clicked', 'edge_clicked']);
                self.cfacache = {};
                self.active_cfa = null;
                self.active_function = null;
                self.svgdoc = null;
                self.selection = null;

                function edge_clickaction(edgeid) {
                    return function() {
                        self.handlers.fire('edge_clicked', edgeid);
                    };
                }

                //index the svg to make nodes and edges available as self.active_cfa
                function index_svg() {
                    console.log('cfawin -- index_svg');

                    var nodes = {};
                    var edges = {};
                    var cfa = {
                        'nodes': nodes,
                        'edges': edges
                    };
                    //index nodes
                    var svgnodes = self.svgdoc.getElementsByClassName('node');
                    for (var i = 0; i < svgnodes.length; i++) {
                        var svgnode = svgnodes[i];
                        var nodeid = parseInt(svgnode.getElementsByTagName('title')[0].textContent);
                        nodes[nodeid] = svgnode;
                    }
                    //index edges
                    var svgedges = self.svgdoc.getElementsByClassName('edge');
                    for (var i = 0; i < svgedges.length; i++) {
                        var svgedge = svgedges[i];
                        var title = svgedge.getElementsByTagName('title')[0].textContent;

                        var nodes = title.split('->');
                        var edgeid = nodes[0] + '->' + nodes[1];
                        edges[edgeid] = svgedge;

                        svgedge.onclick = edge_clickaction(edgeid);
                        svgedge.setAttribute('cursor', 'pointer');
                    }
                    self.cfacache[self.active_function] = cfa;
                    self.active_cfa = cfa;

                }

                //callback is fired when a new function was loaded into the cfa window
                function on_frame_onload() {
                    console.log('cfawin -- onload');
                    self.label.innerHTML = self.active_function;
                    self.svgdoc = self.frame.document;

                    clearZoom('tab_cfa');

                    index_svg();
                    self.handlers.fire('cfa_loaded', self.active_function);
                }

                //initialize the cfa window - DOM must be ready
                self.init = function() {
                    console.log('cfawin -- init');
                    self.frame = window.frames['tab_cfa'];
                    //self.frame.onload = on_frame_onload;
                    self.label = document.getElementById('cfalabel');
                    //self.load('main');
                };

                //load a specific function into the cfa window
                self.load = function(func) {
                    console.log('cfawin -- load ' + func);

                    //HACK ... frame onload seems to only fire once for some reason :(
                    setTimeout(on_frame_onload, 500);
                    self.frame.location= 'cfa__' + func + '.svg';
                    self.active_function = func;
                };

                //get the svg node for a cfa node
                self.get_svgnode = function(nodeid) {

                    if (viewer.data.combinednodes[nodeid] !== undefined) {
                        nodeid = viewer.data.combinednodes[nodeid];
                    }
                    return self.active_cfa['nodes'][nodeid];
                };

                //get the svg node for a cfa edge
                self.get_svgedge = function(edgeid) {

                    var edge = [edgeid[0],edgeid[1]];
                    if (edge[0] in viewer.data.combinednodes
                        && edge[1] in viewer.data.combinednodes) {
                        return undefined;
                    }
                    if (edge[0] in viewer.data.combinednodes) {
                        edge[0] = viewer.data.combinednodes[edge[0]];
                    }

                    return self.active_cfa['edges']['' + edge[0] + '->' + edge[1]];
                };

                //focus a cfa node - scrolls node into view and places an arrow next to the node
                self.focus_node = function(nodeid, twice) {
                    var funcname = viewer.data.cfainfo.nodes['' + nodeid].func;
                    if (funcname != self.active_function && twice != true) {
                        self.load(funcname);
                        setTimeout(function() {
                            self.focus_node(nodeid, true);
                        }, 600);
                    } else {
                        var svgnode = self.get_svgnode(nodeid);
                        var bbox = svgnode.getBBox();
                        var bcr = svgnode.getBoundingClientRect();
                        self.frame.scrollTo(self.frame.pageXOffset + bcr.left - 300, self.frame.pageYOffset +bcr.top - 300);
                        self.draw_arrow(bbox.x + 10, bbox.y + 10);
                        self.selection = nodeid;
                    }
                };

                //modify the color of an edge
                self.set_edge_color = function(edgeid, color) {
                    var svgedge = self.get_svgedge(edgeid);
                    if (svgedge != undefined) {
                        var path = svgedge.getElementsByTagName('path')[0];
                        var poly = svgedge.getElementsByTagName('polygon')[0];
                        path.setAttribute('stroke', color);
                        poly.setAttribute('stroke', color);
                        poly.setAttribute('fill', color);
                    }
                };

                //draw an arrow at a specific position
                self.draw_arrow = function(x,y) {
                    var svgns = "http://www.w3.org/2000/svg";
                    var arrow = self.svgdoc.getElementById('arrow');
                    if (!arrow) {
                        arrow = self.svgdoc.createElementNS(svgns,'path');
                        arrow.setAttributeNS(null, 'id', 'arrow');
                        arrow.setAttributeNS(null, 'stroke', '#00dd00');
                        arrow.setAttributeNS(null, 'fill', '#66ff66');

                        self.svgdoc.getElementById('graph1').appendChild(arrow);
                    }
                    arrow.setAttributeNS(null, 'd', 'M' + x + ',' + y + 'l0,-24l-6,6l-24,-24l-12,12l24,24l-6,6z');
                };
            })();

            //the errorpath window on the left
            viewer.windows.errorpathwin = new (function() {
                var self = this;
                //event support
                self.handlers = new EventHelper(['node_selected', 'edge_selected']);
                self.selection = null;
                self.edge2li = {};

                //errorpath element selection vizualisation
                function errpathelem_select(li) {
                    if (self.selection)
                        removeClass(self.selection, 'selected');
                    self.selection = li;
                    addClass(self.selection, 'selected');
                }

                //errorpath node selection handler
                function node_clickaction(nodeid, errpathindex) {
                    return function() {
                        errpathelem_select(this.parentNode.parentNode);
                        viewer.windows.simulator.pos = errpathindex;
                        self.handlers.fire('node_selected', nodeid, errpathindex);

                    };
                }

                //errorpath edge selection handler
                function edge_clickaction(edgeid, errpathindex) {
                    return function() {
                        errpathelem_select(this.parentNode.parentNode);
                        viewer.windows.simulator.pos = errpathindex;
                        self.handlers.fire('edge_selected', edgeid, errpathindex);
                    };
                }

                //select an index programmatically
                self.select_elem = function(index) {
                    errpathelem_select(self.index2li[index]);
                    var elem = viewer.data.errorpath[index];
                    self.handlers.fire('edge_selected', [elem.source, elem.target], index);
                };
                /*
                //select an edge programatically
                self.select_edge = function(edgeid) {
                    errpathelem_select(self.edge2li[edgeid[0] + '->' + edgeid[1]]);
                    self.handlers.fire('edge_selected', edgeid);
                };
                */
                //inserts edges to function call nodes and makes return edges available in viewer.data.returnedges
                function preprocess_errorpath() {

                    var extended = [];

                    var returnedges = {};
                    for (var key in viewer.data.fcalledges) {
                        var fcalledge = viewer.data.fcalledges[key];
                        returnedges[fcalledge[1]] = fcalledge[0];
                    }

                    for (var i = 0; i < viewer.data.errorpath.length; i++) {
                        var elem = viewer.data.errorpath[i];

                        if ('' + elem.source in viewer.data.fcalledges) {
                            var fcalledge = viewer.data.fcalledges['' + elem.source];
                            var substitute = {
                                'argelem' : elem.argelem,
                                'source' : elem.source,
                                'target' : parseInt(fcalledge[0], 10),
                                'desc' : elem.desc,
                                'stmt' : elem.desc,
                                'line' : elem.line
                            };
                            extended.push(substitute);
                            var jumpToFunc = {
                                'argelem' : elem.argelem,
                                'source' : parseInt(fcalledge[0], 10),
                                'target' : elem.target,
                                'desc' : '',
                                'stmt' : '',
                                'line' : elem.line
                            };

                            viewer.data.cfainfo.edges[substitute.source + '->' + substitute.target] = substitute;
                            viewer.data.cfainfo.edges[jumpToFunc.source + '->' + jumpToFunc.target] = jumpToFunc;

                            extended.push(jumpToFunc);

                            var node = {
                                'id' : parseInt(fcalledge[0]),
                                'func' : viewer.data.cfainfo.nodes['' + elem.source].func
                            };
                            viewer.data.cfainfo.nodes[fcalledge[0]] = node;
                        } else {
                            extended.push(elem);
                        }
                    }

                    viewer.data.errorpath = extended;
                    viewer.data.returnedges = returnedges;
                }

                //initialize the error path window - DOM needs to be ready
                self.init = function() {

                    self.index2li = {};
                    preprocess_errorpath();
                    var li = null;
                    self.node = document.getElementById('errpathwin');
                    var level = 0;
                    var ul = document.createElement('ul');
                    self.node.appendChild(ul);
                    var errpath = viewer.data.errorpath;

                    for (var i = 0; i < errpath.length; i++) {
                        var step = errpath[i];
                        //edge2errindex[step.source + '->' + step.target] = i;
                        if (step.desc.indexOf('Function start dummy edge') == 0) {
                            level += 1;
                            self.edge2li[step.source + '->' + step.target] = li;
                            self.index2li[i] = li;
                            continue;

                        }

                        if (step.desc.substring(0, 'Return edge from'.length) == 'Return edge from') {
                            level -= 1;
                            self.edge2li[step.source + '->' + step.target] = li;
                            self.index2li[i] = li;
                            continue;
                        }

                        if (step.desc == '') {
                            self.edge2li[step.source + '->' + step.target] = li;
                            self.index2li[i] = li;
                            continue;
                        }

                        li = document.createElement('li');
                        self.index2li[i] = li;
                        self.edge2li[step.source + '->' + step.target] = li;
                        var srcspan = document.createElement('span');
                        var srclink = document.createElement('a');
                        srclink.innerHTML = step['source'];
                        srclink.onclick = node_clickaction(step['source'], 1);
                        srcspan.appendChild(document.createTextNode('('));
                        srcspan.appendChild(srclink);
                        srcspan.appendChild(document.createTextNode(')'));
                        li.appendChild(srcspan);

                        var edgelink = document.createElement('a');
                        edgelink.innerHTML = step.desc;
                        edgelink.onclick = edge_clickaction([step['source'], step['target']], i);
                        edgelink.style.textIndent = '' + (level * 15) + 'px';

                        var code = document.createElement('code');
                        code.className = 'prettyprint lang-c';
                        code.appendChild(edgelink);
                        li.appendChild(code);
                        ul.appendChild(li);
                    }
                };
            })();

            //the ARG window
            viewer.windows.argwin = new (function() {
                var self = this;

                //focus a cfa node - scrolls node into view and places an arrow next to the node
                self.focus_node = function(nodeid) {
                    var svgnode = self.svgdoc.getElementById(nodeid);
                    var bbox = svgnode.getBBox();
                    var bcr = svgnode.getBoundingClientRect();
                    self.frame.scrollTo(self.frame.pageXOffset + bcr.left - 300, self.frame.pageYOffset +bcr.top - 300);
                    self.draw_arrow(bbox.x + 10, bbox.y + 10);
                    self.selection = nodeid;
                };

                //draw an arrow at a specific position
                self.draw_arrow = function(x,y) {
                    var svgns = "http://www.w3.org/2000/svg";
                    var arrow = self.svgdoc.getElementById('arrow');
                    if (!arrow) {
                        arrow = self.svgdoc.createElementNS(svgns,'path');
                        arrow.setAttributeNS(null, 'id', 'arrow');
                        arrow.setAttributeNS(null, 'stroke', '#00dd00');
                        arrow.setAttributeNS(null, 'fill', '#66ff66');

                        self.svgdoc.getElementById('graph1').appendChild(arrow);
                    }
                    arrow.setAttributeNS(null, 'd', 'M' + x + ',' + y + 'l0,-24l-6,6l-24,-24l-12,12l24,24l-6,6z');
                };

                function edge_clickaction() {
                    console.log('edge clicked');
                    var label = this.getElementsByTagName('text')[0].textContent;

                    var nodeid = label.split('}-> N')[1];
                    nodeid = parseInt(nodeid.substring(0, nodeid.length - 1), 10);

                    viewer.windows.rightpane.select_tab('tab_cfa');
                    viewer.windows.cfawin.focus_node(nodeid);
                }

                self.onready = function() {
                    var edges = self.svgdoc.getElementsByClassName('edge');
                    for (var i = 0; i < edges.length; i++) {
                        edges[i].onclick = edge_clickaction;
                        edges[i].setAttribute('cursor', 'pointer');
                    }

                };

                //initialize ARG window - DOM must be ready
                self.init = function() {
                    console.log('tab_art -- init');
                    self.frame = window.frames['tab_art'];
                    self.svgdoc = self.frame.document;
                };
            })();

            //the simulator allows to step through the error path
            viewer.windows.simulator = new (function() {
                var self = this;
                self.pos = 0;

                //update view after an action
                function update() {
                    var curr = viewer.data.errorpath[self.pos];
                    viewer.windows.errorpathwin.select_elem(self.pos);
                }

                //initialize simulator
                self.init = function() {
                    //start button
                    document.getElementById('sim_start').onclick = function() {
                        self.pos = 0;
                        update();
                    };
                    //prev button
                    document.getElementById('sim_prev').onclick = function() {
                        if (self.pos > 0) self.pos--;
                        update();
                    };
                    //next button
                    document.getElementById('sim_next').onclick = function() {
                        if (self.pos < viewer.data.errorpath.length) self.pos++;
                        update();
                    };
                };
            })();

        </script>

        <script>
            /* this script generates a dropdown-menu to select a cfa */

            viewer.windows.functionselector = new (function() {
                var self = this;

                //selection change handler
                function change() {
                    viewer.windows.cfawin.load(self.box.value);
                }

                //initialize functionselector
                self.init = function() {
                    self.box = document.getElementById('functionselect');
                    viewer.data.functionlist.sort();
                    self.box.value = viewer.data.functionlist[0]; // select the first function
                    for (var i = 0; i < viewer.data.functionlist.length; i++) {
                        var func = viewer.data.functionlist[i];
                        var opt = document.createElement('option');
                        opt.text = func;
                        opt.value = func;
                        self.box.appendChild(opt);

                        if (func == 'main') {
                            self.box.value = 'main';
                        }
                    }
                    self.box.onchange = change;
                    viewer.windows.cfawin.handlers.add('cfa_loaded', function(evtname, funcname) {
                        self.box.value = funcname;
                    });

                    // load initial cfa
                    viewer.windows.cfawin.load(self.box.value);
                };
            })();

        </script>

        <script>
            //the errorpath data
            viewer.data.errorpath = {{errorpath | html}};

            //list of functions in the CFA
            viewer.data.functionlist = {{functionlist | html}};

            //nodes that wrap multiple edges
            viewer.data.combinednodes = {{combinednodes | html}};

            //info about all nodes and edges in the cfa ... this is not yet fully available via GUI
            viewer.data.cfainfo = {{cfainfo | html}};

            //the virtual edges that had to be inserted in the CFA where other functions are called
            //(edges to and from the nodes representing function calls)
            viewer.data.fcalledges = {{fcalledges | html}};


            function draw_error_path_cfa() {
                for (var i = 0; i < viewer.data.errorpath.length; i++) {
                    var elem = viewer.data.errorpath[i];
                    viewer.windows.cfawin.set_edge_color([elem.source, elem.target], 'red');
                    if (elem.target in viewer.data.returnedges) {
                        var src = viewer.data.returnedges[elem.target];
                        viewer.windows.cfawin.set_edge_color([parseInt(src), elem.target], 'red');
                    }
                }
            }

            console.log('init main');
            viewer.windows.cfawin.handlers.add('cfa_loaded', function() {
                console.log('draw error path!');
                draw_error_path_cfa();
            });


            var selected_cil = null;

            function scroll_cil(line) {
                if (line > 0) {
                    line--;
                }
                if (selected_cil) {
                    selected_cil.children[1].children[0].style.backgroundColor = '';
                }
                selected_cil = document.getElementById('cil_line_' + line);
                selected_cil.children[1].children[0].style.backgroundColor = 'red';
                selected_cil.scrollIntoView();
            }

            //viewer.windows.cfawin.init();
            viewer.windows.errorpathwin.handlers.add('node_selected', function(evtname, nodeid, errpathindex) {
                if (viewer.windows.rightpane.selection == 'tab_cfa') {
                    viewer.windows.cfawin.focus_node(nodeid);
                } else if (viewer.windows.rightpane.selection == 'tab_art') {
                    viewer.windows.argwin.focus_node(
                        '' + viewer.data.errorpath[errpathindex].argelem
                    );
                } else if (viewer.windows.rightpane.selection == 'tab_cil') {
                    scroll_cil(viewer.data.cfainfo.nodes[nodeid].line);
                }
            });

            viewer.windows.errorpathwin.handlers.add('edge_selected', function(evtname, edgeid, errpathindex) {
                if (viewer.windows.rightpane.selection == 'tab_cfa') {
                    viewer.windows.cfawin.focus_node(edgeid[1]);
                    //viewer.windows.cfawin.set_edge_color(edgeid, 'red');
                } else if (viewer.windows.rightpane.selection == 'tab_art') {
                    viewer.windows.argwin.focus_node(
                        '' + viewer.data.errorpath[errpathindex].argelem
                    );
                } else if (viewer.windows.rightpane.selection == 'tab_cil') {
                    scroll_cil(viewer.data.cfainfo.edges[edgeid[0] + '->' + edgeid[1]].line);
                }
            });

            viewer.windows.cfawin.handlers.add('edge_clicked', function(evtname, edgeid) {
                viewer.windows.rightpane.select_tab('tab_cil');
                scroll_cil(viewer.data.cfainfo.edges[edgeid].line);
            });

            viewer.windows.cfawin.init();
            viewer.windows.simulator.init();
            viewer.windows.rightpane.init();
            viewer.windows.errorpathwin.init();

            var task = setInterval(function() {
                //console.log('check DOMready');
                viewer.windows.argwin.init();
                if (viewer.windows.argwin.svgdoc && viewer.windows.argwin.svgdoc.getElementById) {
                    console.log('ARG DOM seems to be ready.');
                    clearInterval(task);
                    viewer.windows.argwin.onready();
                }
            }, 1000);

            viewer.windows.functionselector.init();

        </script>
    </body>
</html>
