<!DOCTYPE html>
<html ng-app='report'>
<head>
<meta charset="UTF-8">
<!-- METATAGS -->

<title>CPAchecker Report for
  <!-- REPORT_NAME -->
</title>

<style type="text/css">
<!--
html{
    position: relative;
    height: 100%;
}
body {
    padding-top: 50px;
    height: 100%;
    min-height: 300px;
    min-width: 750px;
    background-color: white;
}
.header {
    position: absolute;
    top:0;
    width: 100%;
    min-width: 750px;
    height: 50px;
    background-color: whitesmoke;
    border-bottom: solid 2px;
    border-bottom-color: lightgrey;
    padding: 7px;
}

.sections{
    height: 100%;
    padding: 0;
}

.btn{
    cursor: pointer;
}
#err_table td{
    cursor: pointer;
}
#err_table td:hover{
    font-weight: bold;
}
.edge{
    cursor: pointer;
}
.edge:hover{
    font-weight: bold;
    stroke-width: 2;
}
.argContent .node{
    cursor: pointer;
}
.argContent .node:hover{
    font-weight: bold;
}
.functionNode{
    cursor: pointer;
}
.functionNode:hover{
    font-weight: bold;
    stroke-width: 2;
}
.functionNode polygon{
    fill: transparent;
}

.header img.logo {
    float: left;
    height: 30px;
    margin-right: 5px;
}
.header h1 {
    display: inline;
    font-size: 20px;
}
.header .generated {
    float: right;
    margin-left: 2em;
    font-size: 80%;
}


#errorpath_section{
    position:relative;
    float: left;
    width: 25%;
    min-width: 70px;
    height: inherit;
    background-color: white;
    border: solid 4px;
    border-color: lightgrey;
    padding: 5px;
}

#errorpath_section header .input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

#middleLine{
    cursor: col-resize;
    position: absolute;
    top:0;
    right: -8px;
    height:inherit;
    width: 8px;
    z-index: 100;
    background-color: darkgrey;
}
#middleLine:hover{
    background-color: grey;
}
#externalFiles_section{
    float: right;
    width: 75%;
    height: 100%;
    background-color: white;
    padding: 5px;
    border: solid 4px;
    border-color: lightgrey;
    overflow: hidden;
    position:  relative;
}

.popover{
    min-width: 500px;
    max-height: 500px;
    white-space: pre-line !important;
    overflow: auto;
    background-color: #f5fff8;
    border: solid 2px;
    border-color: #00d415;
    font-family: monospace
}
#toaster{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    zIndex : 50000
}
.dropdown-menu a:hover{
    background-color: #71afff !important;
}
.dropdown-menu a{
    cursor: pointer;
}
#externalFiles_section .popover{
    overflow-x: hidden;
    overflow-y: auto;
}

#errorpath_section .fileContent {
    height: calc(100% - 110px);
    margin: 5px;
    overflow: auto;
}
#externalFiles_section .fileContent {
    height: calc(100% - 50px);
    width: 100%;
    margin: 5px;
    position:  relative;
}

#externalFiles_section div.content {
    overflow: auto;
    position:  absolute;
    top:  50px;
    bottom: 5px;
    left: 5px;
    right:  5px;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
td:first-child {
    background-color: #ccc;
}
#err_table td:first-child{
    border-radius: 6px;
}
#err_table td pre {
    padding: 0px;
    margin: 0px;
    border: none;
}
#err_table tr:nth-child(odd) td pre.prettyprint {
    background-color: #f3f3f3;
}
.sourceContent td pre {
    padding: 0px;
    margin: 0px;
    border: none;
}
.sourceContent tr:nth-child(odd) td pre.prettyprint {
    background-color: #f3f3f3;
}
.markedSourceLine{
    background-color: #df80ff;
}
.markedCFAEdge path{
    stroke: #df80ff;
}
.markedCFAEdge polygon{
    fill: #df80ff;
    stroke: #df80ff;
}
.markedCFAEdge text{
    fill: #df80ff;
}

.markedCFANode text{
    fill: #df80ff;
}
.markedCFANode ellipse{
    stroke: #df80ff;
}
.markedCFANode polygon{
    stroke: #df80ff;
}

.markedARGNode polygon{
    fill: #df80ff;
}
.markedTableElement{
    border: solid 2px;
    border-color: #00d415;
}
.markedValueElement pre{
    background-color: #83d480 !important;
}
.markedDescElement pre{
    background-color: #71afff !important;
}
.markedValueDescElement pre{
    background: linear-gradient(#83d480, #71afff) !important;
}
#searchOptions label{
    font-weight: normal;
}
#matches{
    display: none;
}
.markedValues{
    background-color: #83d480;
    border-radius: 25px;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 8px;
    max-width: 270px;
}
.markedDescriptions{
    background-color: #71afff;
    border-radius: 20px;
    padding: 2px;
    padding-left: 8px;
    margin-bottom: 2px;
    max-width: 270px;
}
.cfaContent{
    /* This is very important - otherwise right margin is not shown (and nodes cannot be centered) */
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.argContent{
    /* This is very important - otherwise right margin is not shown (and nodes cannot be centered) */
    display: inline-block;
}
.sourceContent{
 /* Nothing special right now */
}
.edit-line{
    width: 100%;
    background-color: white;
    padding: 5px;
}
.edit-line div{
    display: inline-block;
}
.edit-line label{
    margin-right: 100px;
    display: inline-block;
}
.edit-line p{
    display: inline-block;
}
input#cfa-scalingField{
    margin-left: 5px;
    width: 3.5em;
    display: inline-block;
}
#arg-scalingField{
    margin-left: 5px;
    width: 50px;
    display: inline-block;
}

div pre{
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.help_button{
    padding: 0px;
    border: 0px;
    margin:0px;
    display: inline-block;
    float: right;
}
#externalFiles_section .help_button{
    margin-left: 10px;
    float: left;
}
	    -->
</style>

<link rel="stylesheet" type="text/css"
      href="https://www.sosy-lab.org/lib/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
      href="https://www.sosy-lab.org/lib/google-code-prettify/2015-12-08-c67d802/prettify.css"
      integrity="sha384-Idd9oLcdDqxPfUuMARR/TPo7z2VE5qgbFk6j2RHdfzB88HFW5Ecm8qSe0KjhtZ2S"
      crossorigin="anonymous">

<!--the jquery-script is necessary for bootstrap, it has to be added BEFORE the bootstrap-script-->
<!--[if lt IE 9]>
<script type="text/javascript"
        src="https://www.sosy-lab.org/lib/jquery/1.12.0/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="https://www.sosy-lab.org/lib/jquery/2.2.0/jquery.min.js"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"
        crossorigin="anonymous"></script>
<!--<![endif]-->

<script type="text/javascript"
        src="https://www.sosy-lab.org/lib/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.sosy-lab.org/lib/angularjs/1.5.5/angular.min.js"
        integrity="sha384-JhiEhwQjPEF1WJVY0yQaYOdN73Ml70AQwr+sq+zhSomAf4Fh0ImVDR8G9Ry0QokZ"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://www.sosy-lab.org/lib/google-code-prettify/2015-12-08-c67d802/prettify.js"
        integrity="sha384-uvP0LdNXVGNnAFf48ha9Ze5oJX136a8YERZm6nDnr/jAocGDVsfIj/N6I3h1wSj8"
        crossorigin="anonymous"></script>

<!-- Code for using toasts, taken and adjusted from https://github.com/scottoffen/jquery.toaster -->
<script type="text/javascript">
        (function ($,undefined)
        {
            var toasting =
            {
                'noAutoDismisses' : ['warning', 'danger'],
                'toastsActive' : 0,

                'toast' :
                {
                    'template' :
                    '<div class="alert alert-%priority% alert-dismissible" role="alert">' +
                    '<button type="button" class="close" data-dismiss="alert">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '<span class="sr-only">Close</span>' +
                    '</button>' +
                    '<span class="message"></span>' +
                    '</div>',

                    'defaults' :
                    {
                        'priority'  : 'success'
                    },

                    'fade' : 'slow',

                    'display' : function ($toast)
                    {
                        toasting.toastsActive += 1;
                        return $toast.fadeIn(toasting.toast.fade);
                    },

                    'remove' : function ($toast, callback)
                    {
                        toasting.toastsActive -= 1;
                        return $toast.animate(
                                {
                                    opacity : '0'
                                },
                                {
                                    duration : toasting.toast.fade,
                                    complete : callback
                                }
                        );
                    },

                    'timeout'      : 3500
                },

                gettoaster : function ()
                {
                    return $('#toaster');
                },

                notify : function (message, priority)
                {
                    var $toaster = this.gettoaster();
                    var $toast = $(toasting.toast.template.replace('%priority%', priority)).hide();

                    $('.message', $toast).html(message);

                    $toaster.append(toasting.toast.display($toast));

                    if (toasting.noAutoDismisses.indexOf(priority) === -1)
                    {
                        setTimeout(function()
                                   {
                                       toasting.toast.remove($toast, function()
                                       {
                                           $toast.remove();
                                       });
                                   }, toasting.toast.timeout);
                    }
                }
            };

            $.toaster = function (options) {
                if (typeof options !== 'object') {
                    var values = Array.prototype.slice.call(arguments, 0);
                    var labels = ['message', 'priority'];
                    options = {};

                    for (var i = 0, l = values.length; i < l; i += 1) {
                        options[labels[i]] = values[i];
                    }
                }

                var message  = ('message' in options) ? options.message : null;
                var priority = (('priority' in options) && (typeof options.priority === 'string')) ? options.priority : toasting.toast.defaults.priority;

                if (message !== null && toasting.toastsActive <= 0)
                {
                    toasting.notify(message, priority);
                }
            };
        })(jQuery);

</script>

<script type="text/javascript">
//(function(){})() --> this notation makes a function in JS "self-invoking"
(function() {
    var app = angular.module('report', []);

    app.controller('ReportController', ['$rootScope', '$scope', function($rootScope, $scope){
        $scope.logo = "https://cpachecker.sosy-lab.org/logo.svg";
        $scope.help_externalFiles = "<p><b>CFA</b> (control flow automaton) shows the control flow of the program (one CFA for one function in the source-code)</p>" +
            "<p>- the errorpath is highlighted in red</p>" +
            "<p>- click on the function-nodes to jump to CFA of this function</p>" +
            "<p>- click on edges to jump to the relating line in the source-code</p>" +
            "<p> ○ normal element   ▢ more normal elements</p>" +
            "<p> ◇ condition</p>" +
            "<p> ▭ function</p>" +
            "<p> ◎ loop head (graph-based)  ⬡ loop head (syntactic)</p> " +
            "<p><b>ARG</b> shows the errorpath as a graph</p>" +
            "<p>- the errorpath is highlighted in red</p>" +
            "<p>- click on nodes to jump to the relating node in the CFA</p>" +
            "<p>- click on edges to jump to the relating line in the source-code</p>" +
            "<p><font color=\"green\">■</font> covered state</p>" +
            "<p><font color=\"orange\">■</font> not yet processed state</p>" +
            "<p><font color=\"cornflowerblue\">■</font> important state (depending on used analysis)</p>" +
            "<p><font color=\"red\">■</font> target state</p>";
        $scope.help_errorpath = "<p>The errorpath leads to the error 'line by line' (Source) or 'edge by edge' (CFA)</p>\n" +
            "<p><b>-V-</b> Click to show all initialized variables and their values at that point</p>\n" +
            "<p><b>Edge-Description (Source-Code-View)</b> Click to jump to the relating edge in the CFA / node in the ARG / line in Source (depending on active tab)</p>\n" +
            "<p><b>Buttons (Prev, Start, Next)</b> Click to navigate through the errorpath and jump to the relating position in the active tab</p>\n" +
            "<p><b>Search</b>\n - You can search for words or numbers in the edge-descriptions (matches appear blue)\n" +
            "- You can search for value-assignments (variable names or their value) - it will highlight only where a variable has been initialized or where it has changed its value (matches appear green)</p>";
        //the tab that is shown
        $scope.tab = 1;

        $scope.$on("FirstTimeErrorpathElementIsSelected", function(event){
            $scope.setMarginForGraphs();
        });
        $scope.$on("ChangeTab", function(event, tab){
            $scope.setTab(tab);
        });

        $scope.setTab = function(tab){
            $scope.tab = tab;
        };
        $scope.tabIsSet = function(tab){
            return $scope.tab === tab;
        };

        $scope.setWidth = function(event) {
            if (mouseDown) {
                var wholeWidth = document.getElementById("externalFiles_section").offsetWidth + document.getElementById("errorpath_section").offsetWidth;
                document.getElementById("errorpath_section").style.width = (Math.round(event.clientX/wholeWidth*100) + "%");
                document.getElementById("externalFiles_section").style.width = (Math.round((wholeWidth - event.clientX)/wholeWidth*100) + "%");
            }
        };

        $scope.setMouseUp = function(){
            mouseDown = false;
            document.onselectstart = null;
            document.onmousedown = null;
            if($rootScope.selected_ErrLine != null) {
                $scope.setMarginForGraphs();
            }
        };

        $scope.setMouseDown = function(){
            mouseDown = true;
            //we need this so that no text gets marked when moving middleline
            document.onselectstart = function(){return false;};
            document.onmousedown = function(){return false;};
        };

        $scope.setMarginForGraphs = function(){
            var width = (Math.round((document.getElementById("externalFiles_section").offsetWidth/ 2)-10) + "px");
            var height = (Math.round(document.getElementById("externalFiles_section").offsetHeight/ 2) + "px");
            var cfaContent = document.getElementsByClassName("cfaContent")[0];
            var argContent = document.getElementsByClassName("argContent")[0];
            cfaContent.style.marginLeft = (width);
            cfaContent.style.marginRight = (width);
            cfaContent.style.marginTop = (height);
            cfaContent.style.marginBottom = (height);
            argContent.style.marginLeft = (width);
            argContent.style.marginRight = (width);
            argContent.style.marginTop = (height);
            argContent.style.marginBottom = (height);
        };

    }]);


    app.controller("SearchController", ['$rootScope', '$scope', function($rootScope, $scope){
        $scope.numOfValueMatches = 0;
        $scope.numOfDescriptionMatches = 0;

        $scope.checkIfEnter = function($event){
            if($event.keyCode == 13){
                $scope.searchFor();
            }
        };

        $scope.searchFor = function(){
            //you have to get the matches-element this way, because display:none does not allow direct search
            var matchesDiv = document.getElementsByClassName("markedValues")[0].parentNode;
            if(matchesDiv.style.display != "inline"){
                matchesDiv.style.display = "inline";
                document.getElementById("err_table").parentNode.style.height = "calc(100% - 160px)";
            }
            $scope.numOfValueMatches = 0;
            $scope.numOfDescriptionMatches = 0;
            var allMarkedValueElements = document.getElementsByClassName("markedValueElement");
            while(allMarkedValueElements.length != 0){
                allMarkedValueElements[0].classList.remove("markedValueElement");
            }
            var allMarkedDescElements = document.getElementsByClassName("markedDescElement");
            while(allMarkedDescElements.length != 0){
                allMarkedDescElements[0].classList.remove("markedDescElement");
            }
            var allMarkedValueDescElements = document.getElementsByClassName("markedValueDescElement");
            while(allMarkedValueDescElements.length != 0){
                allMarkedValueDescElements[0].classList.remove("markedValueDescElement");
            }
            var searchedString = document.getElementsByClassName("search-input")[0].value;

            if (searchedString.trim() != "" && !document.getElementById("optionExactMatch").checked) {
                for (var l = 0; l < $rootScope.errorPathData.length; l++) {
                    var errorPathElem = $rootScope.errorPathData[l];
                    if (errorPathElem.val.contains(searchedString) && errorPathElem.desc.contains(searchedString)) {
                        $scope.numOfValueMatches = $scope.numOfValueMatches + 1;
                        $scope.numOfDescriptionMatches = $scope.numOfDescriptionMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedValueDescElement");
                    } else if (errorPathElem.val.contains(searchedString)) {
                        $scope.numOfValueMatches = $scope.numOfValueMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedValueElement");
                    } else if (errorPathElem.desc.contains(searchedString)) {
                        $scope.numOfDescriptionMatches = $scope.numOfDescriptionMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedDescElement");
                    }
                }
            } else if (searchedString.trim() != "" && document.getElementById("optionExactMatch").checked) {
                for (var l = 0; l < $rootScope.errorPathData.length; l++) {
                    var errorPathElem = $rootScope.errorPathData[l];
                    if (searchedString in errorPathElem.newValDict && errorPathElem.desc == searchedString) {
                        $scope.numOfValueMatches = $scope.numOfValueMatches + 1;
                        $scope.numOfDescriptionMatches = $scope.numOfDescriptionMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedValueDescElement");
                    } else if (searchedString in errorPathElem.newValDict) {
                        $scope.numOfValueMatches = $scope.numOfValueMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedValueElement");
                    } else if (errorPathElem.desc == searchedString) {
                        $scope.numOfDescriptionMatches = $scope.numOfDescriptionMatches + 1;
                        document.getElementById("errpath-" + l).getElementsByTagName("td")[1].classList.add("markedDescElement");
                    }
                }
            }
        };
    }]);


    app.controller("ValueAssignmentsController", ['$rootScope', '$scope', function($rootScope, $scope){
        //gets called when '-V-'button in errorpath is clicked
        $scope.showValues = function($event){
            var element = $event.currentTarget;
            if (element.classList.contains("markedTableElement")) {
                element.classList.remove("markedTableElement");
            } else {
                element.classList.add("markedTableElement");
            }
        };
    }]);


    app.controller("ErrorpathController", ['$rootScope', '$scope', function($rootScope, $scope){
        $rootScope.errorPathData = [];
        //the line (errorpath) that is selected
        $rootScope.selected_ErrLine = null;

        $scope.getValues = function(val){
            var values = {};
            if(val != "") {
                var singleStatements = val.split("\n");
                for (var i = 0; i < singleStatements.length-1; i++) {
                    values[singleStatements[i].split("==")[0].trim()] = singleStatements[i].split("==")[1].trim().slice(0,-1);
                }
            }
            return values;
        };

        var indentationlevel = 0;
        for(var a = 0; a<errorPathData.length; a++) {
            var errPathElem = errorPathData[a];
            //do not show start, return and blank edges
            if (errPathElem.desc.substring(0, "Return edge from".length) != "Return edge from" && errPathElem.desc != "Function start dummy edge" && errPathElem.desc != "") {
                if (errPathElem.source in fCallEdges) {
                    errPathElem.target = fCallEdges[errPathElem.source][0];
                }
                var newValues = $scope.getValues(errPathElem.val);
                errPathElem["newValDict"] = newValues;
                errPathElem["valDict"] = {};
                errPathElem["valString"] = "";
                if (a > 0) {
                    for (key in $rootScope.errorPathData[$rootScope.errorPathData.length - 1].valDict) {
                        errPathElem.valDict[key] = $rootScope.errorPathData[$rootScope.errorPathData.length - 1].valDict[key];
                    }
                }
                if (newValues != {}) {
                    for (key in newValues) {
                        errPathElem.valDict[key] = newValues[key];
                    }
                }
                // if I do it in one of the for-loops before, I get the new values doubled
                for (key in errPathElem.valDict){
                    errPathElem.valString = errPathElem.valString + key + ":  " + errPathElem.valDict[key] + "\n";
                }
                //add indentation
                for(var b = 1; b <= indentationlevel; b++) {
                    errPathElem.desc = "   " + errPathElem.desc;
                }
                $rootScope.errorPathData.push(errPathElem);
            } else if(errPathElem.desc.substring(0, "Return edge from".length) == "Return edge from"){
                indentationlevel -= 1;
            } else if(errPathElem.desc == "Function start dummy edge"){
                indentationlevel += 1;
            }
        }

        $scope.clickedErrpathElement = function($event){
            var lineNumber = $event.currentTarget.parentElement.id;
            $scope.setLine(lineNumber);
            $rootScope.$broadcast('clickedErrorpathElement', lineNumber.substring("errpath-".length));
        };

        $scope.clickedErrpathButton = function($event){
            var button = $event.currentTarget.innerHTML;
            var line;
            if (button == "Prev" && ($rootScope.selected_ErrLine.substring("errpath-".length) == 0 || $rootScope.selected_ErrLine == null)) {
            } else if (button == "Prev") {
                line = parseInt($rootScope.selected_ErrLine.substring("errpath-".length)) - 1;
                $scope.setLine("errpath-" + line);
                $rootScope.$broadcast("clickedErrorpathButton", line);
            } else if (button == "Start" || button == "Next" && $rootScope.selected_ErrLine == null) {
                document.getElementById("err_table").parentNode.scrollTop = 0;
                $scope.setLine("errpath-" + 0);
                $rootScope.$broadcast("clickedErrorpathButton", 0);
            } else if (button == "Next" && ($rootScope.selected_ErrLine.substring("errpath-".length) == $rootScope.errorPathData.length -1)) {
            } else if (button == "Next") {
                line = parseInt($rootScope.selected_ErrLine.substring("errpath-".length)) + 1;
                $scope.setLine("errpath-" + line);
                $rootScope.$broadcast("clickedErrorpathButton", line);
            }
        };

        $scope.setLine = function(id){
            if ($rootScope.selected_ErrLine != null) {
                document.getElementById($rootScope.selected_ErrLine).style.outline = "none";
            } else {
                //The first time a line is selected
                $rootScope.$broadcast("FirstTimeErrorpathElementIsSelected");
            }
            document.getElementById(id).style.outline = "#df80ff solid 1px";
            $rootScope.selected_ErrLine = id;
        };
    }]);


    app.controller('ARGController', ['$rootScope', '$scope', function($rootScope, $scope){
        $scope.argNodeMarked = false;

        $scope.$on('clickedErrorpathElement', function(event, index){
            $scope.markARGNode(index);
        });
        $scope.$on("clickedErrorpathButton", function(event, index){
            $scope.markARGNode(index);
        });

        $scope.clickedARGElement = function($event){
            var y = $event.currentTarget.id;
            if (document.getElementById(y).classList.contains("edge")){
                $rootScope.$broadcast("ChangeTab", 3);
                var line = document.getElementById(y).getElementsByTagName("text")[0].innerHTML.split(":")[0].substring("Line ".length);
                $rootScope.$broadcast("clickedARGEdge", line);
            } else if (document.getElementById(y).classList.contains("node")){
                var cfaNodeNumber = document.getElementById(y).getElementsByTagName("text")[0].innerHTML.split("N")[1];
                $rootScope.$broadcast("ChangeTab", 1);
                $rootScope.$broadcast("clickedARGNode", cfaNodeNumber);
            }
        };

        $scope.markARGNode = function(index){
            var argElement = $rootScope.errorPathData[index].argelem;
            if($scope.argNodeMarked){
                document.getElementsByClassName("markedARGNode")[0].classList.remove("markedARGNode");
            }
            document.getElementById("arg-" + argElement).classList.add("markedARGNode");
            $scope.argNodeMarked = true;
            $scope.scrollToARGElement("arg-" + argElement);
        };

        $scope.scrollToARGElement = function(id){
            var element = document.getElementById(id);
            var argContent = document.getElementsByClassName("argContent")[0];
            var box = argContent.parentNode.getBoundingClientRect();
            var xScroll = argContent.parentNode.scrollLeft;
            var yScroll = argContent.parentNode.scrollTop;
            var bcr = element.getBoundingClientRect();
            var xMargin = (argContent.style.marginLeft).split("px")[0];
            var yMargin = (argContent.style.marginTop).split("px")[0];
            argContent.parentNode.scrollLeft = bcr.left + xScroll - box.left - xMargin + 20;
            argContent.parentNode.scrollTop =  bcr.top + yScroll - box.top - yMargin + 20;
        };
    }]);


    app.controller('CFAController', ["$rootScope", "$scope", function($rootScope, $scope){
        //available functions (cfa-graphs)
        $rootScope.functions = functions;
        //selected cfa-graph (index = -1 means the function does not exist)
        if (functions.indexOf("main" != -1)) {
            $rootScope.selectedCFAFunction = functions.indexOf("main");
        } else {
            $rootScope.selectedCFAFunction = 0;
        }
        $scope.cfaEdgeMarked = false;
        $scope.cfaNodeMarked = false;

        $scope.$on('clickedErrorpathElement', function(event, nodeNumber){
            $scope.markCFAedge(nodeNumber);
        });
        $scope.$on("clickedErrorpathButton", function(event, nodeNumber){
            $scope.markCFAedge(nodeNumber);
        });
        $scope.$on("clickedARGNode", function(event, nodeNumber){
            $scope.markCFANode(nodeNumber);
        });

        $scope.setCFAFunction = function(value){
            document.getElementsByClassName("cfaContent")[0].parentNode.scrollTop = 0;
            document.getElementsByClassName("cfaContent")[0].parentNode.scrollLeft = 0;
            $rootScope.$broadcast("clearCFAZoom");
            $rootScope.selectedCFAFunction = value;
        };
        $scope.cfaFunctionIsSet = function(value){
            return value === $rootScope.selectedCFAFunction;
        };

        //Behaviour for Click-Elements in CFA
        $scope.clickedCFAElement = function($event){
            var element = $event.currentTarget.id;
            if (document.getElementById(element).classList.contains("edge")){
                var line;
                var source;
                if (element.split("->")[1] > 100000 || element.split("->")[0].substring("cfa-".length) > 100000){
                    source = element.split("->")[0].substring("cfa-".length);
                    line = cfaInfo["edges"][source + "->" + fCallEdges[source][1]]["line"];
                } else if (element.split("->")[0].substring("cfa-".length) in combinedNodes){
                    var textfields = document.getElementById("cfa-" + element.split("->")[0].substring("cfa-".length)).getElementsByTagName("text");
                    source = textfields[textfields.length - 2].innerHTML;
                    line = cfaInfo["edges"][source + "->" + element.split("->")[1]]["line"];
                } else {
                    line = cfaInfo["edges"][element.substring("cfa-".length)]["line"];
                }
                $rootScope.$broadcast("clickedCFAEdge", line);
            } else if (document.getElementById(element).classList.contains("node") && (element.substring("cfa-".length) > 100000)) {
                var func = document.getElementById(element).getElementsByTagName("text")[0].innerHTML;
                $scope.setCFAFunction(functions.indexOf(func));
            }
        };

        $scope.singleClickedCFAElement = function($event){
            $.toaster({
                          message: 'Double-click CFA component to jump to position in source code.',
                          priority: 'info'
                      });
        };

        $scope.markCFAedge = function(index){
            var source = $rootScope.errorPathData[index].source;
            var target = $rootScope.errorPathData[index].target;
            var funcIndex = $rootScope.functions.indexOf(cfaInfo["nodes"][source]["func"]);
            if(funcIndex != $rootScope.selectedCFAFunction) {
                $scope.setCFAFunction(funcIndex);
            }
            if(!(source in combinedNodes && target in combinedNodes)) {
                if(source in combinedNodes){
                    source = combinedNodes[source];
                }
                if ($scope.cfaEdgeMarked) {
                    document.getElementsByClassName("markedCFAEdge")[0].classList.remove("markedCFAEdge");
                }
                if ($scope.cfaNodeMarked) {
                    document.getElementsByClassName("markedCFANode")[0].classList.remove("markedCFANode");
                    $scope.cfaNodeMarked = false;
                }
                document.getElementById("cfa-" + source + "->" + target).classList.add("markedCFAEdge");
                $scope.scrollToCFAElement("cfa-" + source + "->" + target);
                $scope.cfaEdgeMarked = true;
            } else {
                $scope.markCFANode(combinedNodes[source]);
            }
        };

        $scope.markCFANode = function(nodenumber){
            if($scope.cfaNodeMarked){
                document.getElementsByClassName("markedCFANode")[0].classList.remove("markedCFANode");
            }
            if($scope.cfaEdgeMarked){
                document.getElementsByClassName("markedCFAEdge")[0].classList.remove("markedCFAEdge");
                $scope.cfaEdgeMarked = false;
            }
            $scope.setCFAFunction($rootScope.functions.indexOf(cfaInfo["nodes"][nodenumber]["func"]));
            if(!(nodenumber in combinedNodes)) {
                document.getElementById("cfa-" + nodenumber).classList.add("markedCFANode");
                $scope.scrollToCFAElement("cfa-" + nodenumber);
            } else {
                document.getElementById("cfa-" + combinedNodes[nodenumber]).classList.add("markedCFANode");
                $scope.scrollToCFAElement("cfa-" + combinedNodes[nodenumber]);
            }
            $scope.cfaNodeMarked = true;
        };

        $scope.scrollToCFAElement = function(id){
            var element = document.getElementById(id);
            var box = document.getElementsByClassName("cfaContent")[0].parentNode.getBoundingClientRect();
            var bcr = element.getBoundingClientRect();
            var cfaContent = document.getElementsByClassName("cfaContent")[0];
            var xScroll = cfaContent.parentNode.scrollLeft;
            var yScroll =  cfaContent.parentNode.scrollTop;
            var xMargin = (cfaContent.style.marginLeft).split("px")[0];
            var yMargin = (cfaContent.style.marginTop).split("px")[0];
            cfaContent.parentNode.scrollLeft = bcr.left + xScroll - box.left - xMargin + 20;
            cfaContent.parentNode.scrollTop = bcr.top + yScroll - box.top - yMargin + 20;
        };

    }]);


    app.controller('SourceController', ['$rootScope', '$scope', '$location', '$anchorScroll',
                                        function($rootScope, $scope, $location, $anchorScroll){
        //available sourcefiles
        $scope.sourceFiles = sourceFiles;
        $scope.selectedSourceFile = 0;
        $scope.lineMarked = false;

        $scope.$on('clickedErrorpathElement', function(event, lineNumber){
            var line = $rootScope.errorPathData[lineNumber].line;
            $scope.markSource(line);
            $scope.jumpToSource(line);
        });
        $scope.$on('clickedErrorpathButton', function(event, lineNumber){
            var line = $rootScope.errorPathData[lineNumber].line;
            $scope.markSource(line);
            $scope.jumpToSource(line);
        });
        $scope.$on('clickedCFAEdge', function(event, line){
            $scope.markSource(line);
            $scope.jumpToSource(line);
        });
        $scope.$on('clickedARGEdge', function(event, line){
            $scope.markSource(line);
            $scope.jumpToSource(line);
        });

        $scope.jumpToSource = function(line){
            $scope.setTab(3);
            $location.hash('source-' + line);
            $anchorScroll();
        };

        $scope.setSourceFile = function(value){
            $scope.selectedSourceFile = value;
        };
        $scope.sourceFileIsSet = function(value){
            return value === $scope.selectedSourceFile;
        };

        $scope.markSource = function(line){
            if ($scope.lineMarked) {
                document.getElementsByClassName("markedSourceLine")[0].className = "prettyprint";
            }
            document.getElementById("source-" + line).getElementsByTagName("pre")[1].className = "markedSourceLine";
            var element = document.getElementById("source-" + line);
            var box = document.getElementsByClassName("sourceContent")[0].parentNode.getBoundingClientRect();
            var bcr = element.getBoundingClientRect();
            var sourceContent = document.getElementsByClassName("sourceContent")[0];
            var yScroll =  sourceContent.parentNode.scrollTop;
            var yMargin = Math.round((document.getElementById("externalFiles_section").offsetHeight/ 2)-50);
            sourceContent.parentNode.scrollTop = bcr.top + yScroll - box.top - yMargin;
            $scope.lineMarked = true;
            $scope.markedLine = line;
        };
    }]);


    app.controller('ZoomController', ['$rootScope', '$scope', function($rootScope, $scope){
        $scope.zoomFactorCFA = 100;
        $scope.zoomFactorARG = 100;

        $scope.$on("clearCFAZoom", function(){$scope.clearZoomCFA();});

        $scope.setZoom = function(id){
            if (id.contains("cfa")) {
                document.getElementById("cfaGraph-" + $rootScope.selectedCFAFunction).transform.baseVal.getItem(0).setScale($scope.zoomFactorCFA / 100, $scope.zoomFactorCFA / 100);
            } else if (id.contains("arg")){
                // TODO: There should be a way to find the graph in one step
                var graph = document.getElementById("graph0");
                for (var i = ($rootScope.functions.length + 1); graph == null && i >= 0; --i) {
                  graph = document.getElementById("argGraph-" + i);
                }
                if (graph != null) {
                  graph.transform.baseVal.getItem(0).setScale($scope.zoomFactorARG / 100, $scope.zoomFactorARG / 100);
                }
            }
        };

        $scope.clearZoomCFA = function(){
            $scope.zoomFactorCFA = 100;
            document.getElementById("cfaGraph-" + $rootScope.selectedCFAFunction).transform.baseVal.getItem(0).setScale($scope.zoomFactorCFA/100, $scope.zoomFactorCFA/100);
        };
    }]);
})();


var mouseDown = false;
var functions = []; //FUNCTIONS
var fCallEdges = {}; //FCALLEDGES
var cfaInfo = {}; //CFAINFO
var errorPathData = {}; //ERRORPATH
var combinedNodes = {}; //COMBINEDNODES
var sourceFiles = []; //SOURCE_FILE_NAMES

$(function () {
  $('[data-toggle="popover"]').popover({ html : true })
})

function init(){
  var svgElements = document.getElementsByTagName("svg");
  //set IDs for all CFA-SVGs
  for(var r = 0; r<svgElements.length-1; r++){
    var graph = svgElements[r].getElementsByTagName("g")[0];
    graph.id = "cfaGraph-" + r.toString();
    var nodes = graph.getElementsByClassName("node");
    for(var s = 0; s < nodes.length; s++){
      nodes[s].id = "cfa-" + nodes[s].getElementsByTagName("title")[0].innerHTML;
      if(nodes[s].getElementsByTagName("title")[0].innerHTML > 100000){
        nodes[s].classList.add("functionNode");
      }
    }
    var edges = graph.getElementsByClassName("edge");
    for(var t=0; t<edges.length; t++){
      var edge = edges[t];
      var fromto = [];
      if(edge.getElementsByTagName("title")[0].innerHTML.split("&#45;&gt;")[1] != null){
        fromto = edge.getElementsByTagName("title")[0].innerHTML.split("&#45;&gt;");
      } else if (edge.getElementsByTagName("title")[0].innerHTML.split("&#45;>")[1] != null) {
        fromto = edge.getElementsByTagName("title")[0].innerHTML.split("&#45;>");
      } else if (edge.getElementsByTagName("title")[0].innerHTML.split("-&gt;")[1] != null) {
        fromto = edge.getElementsByTagName("title")[0].innerHTML.split("-&gt;");
      } else {
        fromto = edge.getElementsByTagName("title")[0].innerHTML.split("->");
      }
      edge.id = "cfa-" + fromto[0] + "->" + fromto[1];
    }
  }
  //set IDs for the ARG-SVG
  graph = svgElements[svgElements.length-1].getElementsByTagName("g")[0];
  graph.id = "argGraph-" + (svgElements.length-1).toString();
  nodes = graph.getElementsByClassName("node");
  for(var u = 0; u < nodes.length; u++){
    nodes[u].id = "arg-" + nodes[u].getElementsByTagName("title")[0].innerHTML;
  }
  edges = graph.getElementsByClassName("edge");
  for(var v=0; v<edges.length; v++){
    edge = edges[v];
    fromto = [];
    if(edge.getElementsByTagName("title")[0].innerHTML.split("&#45;&gt;")[1] != null){
      fromto = edge.getElementsByTagName("title")[0].innerHTML.split("&#45;&gt;");
    } else if (edge.getElementsByTagName("title")[0].innerHTML.split("&#45;>")[1] != null) {
      fromto = edge.getElementsByTagName("title")[0].innerHTML.split("&#45;>");
    } else if (edge.getElementsByTagName("title")[0].innerHTML.split("-&gt;")[1] != null) {
      fromto = edge.getElementsByTagName("title")[0].innerHTML.split("-&gt;");
    } else {
      fromto = edge.getElementsByTagName("title")[0].innerHTML.split("->");
    }
    edge.id = "arg-" + fromto[0] + "->" + fromto[1];
  }

  //If we do not have an Errorpath
  if(errorPathData.length == undefined){
    document.getElementById("errorpath_section").style.display = "none";
    document.getElementById("externalFiles_section").style.width = "100%";
  }

  //prepare Errorpath-Data for marking in the cfa
  var returnedges = {};
  for(key in fCallEdges){
    var fcalledge = fCallEdges[key];
    returnedges[fcalledge[1]] = fcalledge[0];
  }
  var errPathDataForCFA = [];
  for(var w = 0; w < errorPathData.length; w++){
    var source = errorPathData[w].source;
    var target = errorPathData[w].target;
    if(source in combinedNodes && target in combinedNodes){
    } else if(source in combinedNodes){
      errPathDataForCFA.push(combinedNodes[source] + "->" + target);
    } else if (source in fCallEdges){
      errPathDataForCFA.push(source + "->" + fCallEdges[source][0]);
    } else if (target in returnedges){
      errPathDataForCFA.push(returnedges[target] + "->" + target);
    } else {
      errPathDataForCFA.push(source + "->" + target);
    }
  }
  for(var x = 0; x < errPathDataForCFA.length; x++){
    var cfaEdge = document.getElementById("cfa-" + errPathDataForCFA[x]);
    if (cfaEdge != null) {
	  var path = cfaEdge.getElementsByTagName("path")[0];
	  var poly = cfaEdge.getElementsByTagName("polygon")[0];
	  var text = cfaEdge.getElementsByTagName("text")[0];
	  path.setAttribute("stroke", "red");
	  poly.setAttribute("stroke", "red");
	  poly.setAttribute("fill", "red");
	  if(text != undefined) {
	    text.setAttribute("fill", "red");
	  }
    }
  }
};

</script>

</head>

<body ng-controller="ReportController" onload="prettyPrint(); init()">
<header class="header">

  <a href="https://cpachecker.sosy-lab.org/"><img class="logo" ng-src="{{logo}}" /></a>
  <h1>Report for
    <!-- REPORT_NAME -->
  </h1>

    <span class="generated">
      <!-- GENERATED -->
    </span>
</header>

<div class="sections" ng-mousemove="setWidth($event)" ng-mouseup="setMouseUp()">
  <section id="errorpath_section" ng-controller="ErrorpathController">
    <div id="middleLine" ng-mousedown="setMouseDown()"></div>
    <header ng-controller="SearchController">
      <div class="btn-group">
        <button class="btn btn-success" ng-click="clickedErrpathButton($event)">Prev</button>
        <button class="btn btn-warning" ng-click="clickedErrpathButton($event)">Start</button>
        <button class="btn btn-success" ng-click="clickedErrpathButton($event)">Next</button>
      </div>
      <a tabindex="0" role="button" data-toggle="popover" data-placement="right"
         data-trigger="focus" data-content="{{help_errorpath}}"
         class="btn btn-default btn-lg help_button">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </a>
      <div class="input-group input-group-sm">
        <input type="text" ng-keydown="checkIfEnter($event)" class="form-control search-input"
               placeholder="Search for...">
          <span class="input-group-btn">
              <button ng-click="searchFor()" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
          </span>
      </div>
      <div id="searchOptions">
        <label for="optionExactMatch">
          <input id="optionExactMatch" type="checkbox" name="searchOption">
          Find only exact matches
        </label>
      </div>
      <div id="matches">
        <p class="markedValues">Matches in value-assignements (V): {{numOfValueMatches}}</p>
        <p class="markedDescriptions">Matches in edge-description: {{numOfDescriptionMatches}}</p>
      </div>
    </header>
    <div class="fileContent" ng-controller="ValueAssignmentsController">
      <table id="err_table">
        <tr id="errpath-{{$index}}" ng-repeat="line in errorPathData">
          <td ng-click="showValues($event)" data-toggle="popover" data-placement="right"
              data-trigger="click" data-content="{{line.valString}}">
            <pre>-V-</pre>
          </td>
          <td ng-click="clickedErrpathElement($event)">
            <pre class="prettyprint">{{line.desc}}</pre>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section id="externalFiles_section">
    <nav>
      <ul class="nav nav-pills">
        <li ng-class="{active: tabIsSet(1)}">
          <a href ng-click="setTab(1)">CFA</a>
        </li>
        <li ng-class="{active: tabIsSet(2)}">
          <a href ng-click="setTab(2)">ARG</a>
        </li>
        <li ng-class="{active: tabIsSet(3)}">
          <a href ng-click="setTab(3)">Source</a>
        </li>
        <li ng-class="{active: tabIsSet(4)}">
          <a href ng-click="setTab(4)">Log</a>
        </li>
        <li ng-class="{active: tabIsSet(5)}">
          <a href ng-click="setTab(5)">Statistics</a>
        </li>
        <li ng-class="{active: tabIsSet(6)}">
          <a href ng-click="setTab(6)">Configurations</a>
        </li>
        <a tabindex="0" role="button" data-toggle="popover" data-placement="right"
           data-trigger="focus" data-content="{{help_externalFiles}}"
           class="btn btn-default btn-lg help_button">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </a>
      </ul>
    </nav>
    <div class="fileContent" ng-show="tabIsSet(1)" ng-class="{active: tabIsSet(1)}"
         ng-controller="CFAController">
      <div class="edit-line">
        <div class="dropdown" id="dropdownMenu1">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            Displayed CFA
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pre-scrollable">
            <li ng-repeat="func in functions"
                ng-class="{'active, disabled': cfaFunctionIsSet($index)}"><a
                ng-click="setCFAFunction($index)">{{func}}</a></li>
          </ul>
        </div>
        <label>{{functions[selectedCFAFunction]}}</label>
        <div ng-controller="ZoomController">
          <p>Zoom Factor (%)</p>
          <input id="cfa-scalingField" type="number" min="0" max="200" ng-model="zoomFactorCFA"
                 ng-change="setZoom('cfa-scalingField')" />
        </div>
      </div>
      <div class="cfaContent content">
        <p>Run scripts/report-generator.py to display CFAs.</p><!--CFAFUNCTIONGRAPHS-->
      </div>
    </div>
    <div class="fileContent" ng-if="tabIsSet(2)" ng-class="{active: tabIsSet(2)}"
         ng-controller="ARGController">
      <div class="edit-line">
        <div ng-controller="ZoomController">
          <p>Zoom Factor (%)</p>
          <input id="arg-scalingField" type="number" min="0" max="200" ng-model="zoomFactorARG"
                 ng-change="setZoom('arg-scalingField')" />
        </div>
      </div>
      <div class="argContent content">
        <p>Run scripts/report-generator.py to display ARG.</p><!--ARGGRAPHS-->
      </div>
    </div>
    <!-- We have to use ng-show here instead of ng-if so that #jumpToSource(line)
         can access the id of the correct source code line -->
    <div class="fileContent" ng-show="tabIsSet(3)" ng-class="{active: tabIsSet(3)}"
         ng-controller="SourceController">
      <div class="edit-line">
        <div class="dropdown" id="dropdownMenu2">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            Displayed Sourcefile
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pre-scrollable">
            <li ng-repeat="file in sourceFiles"><a ng-click="setSourceFile($index)">{{file}}</a>
            </li>
          </ul>
        </div>
        <label>{{sourceFiles[selectedSourceFile]}}</label>
      </div>
      <!--SOURCE_CONTENT-->
    </div>
    <div class="fileContent content" ng-show="tabIsSet(4)" ng-class="{active: tabIsSet(4)}">
      <!--LOG-->
    </div>
    <div class="fileContent content" ng-show="tabIsSet(5)" ng-class="{active: tabIsSet(5)}">
      <!--STATISTICS-->
    </div>
    <div class="fileContent content" ng-show="tabIsSet(6)" ng-class="{active: tabIsSet(6)}">
      <!--CONFIGURATION-->
    </div>
  </section>
</div>

<div class="toaster" id="toaster"></div>

</body>
</html>
