<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
		<extension-point id="listeners" name="Test Listeners" />
	<!--
	<extension point="org.sosy_lab.cpachecker.plugin.eclipse.listeners">
	<listener
		class="org.sosy_lab.cpachecker.plugin.eclipse.Listener">
		</listener>
	</extension> -->
	<extension point="org.eclipse.ui.views">
		<category
			name="CPAclipse"
			id="org.sosy_lab.cpachecker.plugin.eclipse.catMain">
		</category>
		<view
			name="CPAclipse Tasks View"
			icon="icons/MainLogo.gif"
			category="org.sosy_lab.cpachecker.plugin.eclipse.catMain"
			class="org.sosy_lab.cpachecker.plugin.eclipse.views.TasksView"
			id="org.sosy_lab.cpachecker.plugin.eclipse.views.TasksView">
		</view>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
      <category
            name="CPAclipse"
            id="org.sosy_lab.cpachecker.plugin.eclipse.wizards">
      </category>
      <wizard
      		category="org.sosy_lab.cpachecker.plugin.eclipse.wizards"
            name="new CPAclipse Task"
            icon="$nl$/icons/MainLogo.gif"
            class="org.sosy_lab.cpachecker.plugin.eclipse.wizards.NewTaskCreationWizard"
            id="org.sosy_lab.cpachecker.plugin.eclipse.wizards.NewTaskCreationWizard">
         <description>
            new CPAclipse Task
         </description>
      </wizard>
   </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.propertieseditor.PropertiesTableEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="properties"
            icon="icons/config.gif"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.propertieseditor.PropertiesTableEditor"
            name="PropertiesTableEditor">
      </editor>  	
      	<editor
            name="Specification Editor"
            extensions="spc"
            icon="icons/specification.gif"
            default="true"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.SpecificationEditor"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.specificationEditor">
      	</editor>
      	<editor
            name="ErrorPath Editor"
            icon="icons/ErrorPath.gif"
            extensions="txt"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathEditor"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.sosy_lab.cpachecker.plugin.eclipse.popupmenu"
			objectClass="java.lang.Object">
			<visibility>
			<or>
				<objectClass name="org.eclipse.cdt.core.model.ITranslationUnit"/>
				<objectClass name="org.eclipse.core.resources.IFile"/>
			</or>
			</visibility>
         <menu
               id="org.sosy_lab.cpachecker.plugin.eclipse.generalMenu"
               label="CPAclipse"
               icon="icons/MainLogo.gif"
               path="additions">
            <separator name="group2">
            </separator>
         </menu>
         <action
               class="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.NewTaskAction"
               enablesFor="+"
               id="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.NewTaskAction"
               label="create new Task"
               menubarPath="org.sosy_lab.cpachecker.plugin.eclipse.generalMenu/group2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CPAclipse"
            class="org.sosy_lab.cpachecker.plugin.eclipse.preferences.CPAPreferencePage"
            id="org.sosy_lab.cpachecker.plugin.eclipse.preferences.CPAPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sosy_lab.cpachecker.plugin.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
	    id="org.sosy_lab.cpachecker.plugin.eclipse.taskRenameParticipant"
	    name="Rename Task" 
	    class="org.sosy_lab.cpachecker.plugin.eclipse.popup.actions.taskRenameParticipant">
	    <enablement>
	      <instanceof value="org.sosy_lab.cpachecker.plugin.eclipse.views.TaskTreeViewer.TaskNode">
	      </instanceof>
	    </enablement>
	</renameParticipant>
	</extension>
     <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathEditor"
            name="CPAtextEditorTargetErrorPath">
            <context type="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathEditor"/>
      </target>
      <target
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.SpecificationEditor"
            name="CPAtextEditorTargetSpecification">
            <context type="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.SpecificationEditor"/>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
      		activate="true"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathHyperlinkDetector"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathHyperlinkDetector"
            name="ErrorPathHyperlinkDetector"
            targetId="org.sosy_lab.cpachecker.plugin.eclipse.editors.errorPathEditor.ErrorPathEditor">
      </hyperlinkDetector>
      <hyperlinkDetector
      		activate="true"
            class="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.IncludeHyperlinkDetector"
            id="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.IncludeHyperlinkDetector"
            name="IncludeHyperlinkDetector"
            targetId="org.sosy_lab.cpachecker.plugin.eclipse.editors.specificationeditor.SpecificationEditor">
      </hyperlinkDetector>
   </extension> 
</plugin>
